<%= form.error_messages %>

<p>
  <%= form.label :name %><br />
  <%= form.text_field :name %>
</p>

<p>
  <%= form.label :contact_ids, 'Contact(s)' %>
  <%= form.collection_select('contact_ids', @users, :id, :fullname,{},:multiple=>true, :size => 5) %>
  <%= help_popup('Hold Down Ctrl if you would like to select more than one contact.  The contact recieves a consultation request email, can mark a consultation as complete and can request (gather) more information.  A team typically has one contact.') %>
</p>
<p></p>
Members

<table>
  <thead>
  </thead>
  <tbody>
    <% @users_in_groups.each do |user_row| %>
      <tr>
        <%user_row.each do |user| %>
          <td>
            <%= check_box_tag 'school_team[user_ids][]',user.id, @school_team.users.include?(user), :id => dom_id(user,"team_school") %>
            <%= label_tag dom_id(user, "team_school"), user.to_s %>
            <%#= %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_district.show_team_consultation_attachments? %>
  <p> You can upload a blank form here that users can download, complete, and upload if you prefer a different format for the consultation form.  </p>
  </p>
  <%= render :partial => '/assets/asset_form', :locals => {:form=>form, :parent =>'school_team'}  %>
<% end %>

