<%= form.error_messages %>

<p>
  <%= form.label :name %><br />
  <%= form.text_field :name %>
</p>

Members

<table id="school_team_members">
  <thead>
  </thead>
  <tbody>
    <% @users_in_groups.each do |users| %>
      <tr>
        <%= render :partial => 'user', :collection => users %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_district.show_team_consultation_attachments? %>
  <p> You can upload a blank form here that users can download, complete, and upload if you prefer a different format for the consultation form.  </p>
  </p>
  <%= render :partial => '/assets/asset_form', :locals => {:form=>form, :parent =>'school_team'}  %>
<% end %>

