<p>
  <b>School:</b>
  <%=h @school_team.school %>
</p>

<p>
  <b>Name:</b>
  <%=h @school_team.name %>
</p>

<p>
  <b>Anonymous:</b>
  <%=h @school_team.anonymous %>
</p>


<%= link_to 'Edit', edit_school_team_path(@school_team) %> |
<%= link_to 'Back', school_teams_path %>