<h1>Change Password</h1>
<div class ="new_form">
  <%= form_for(@user, :url => change_password_url) do |form| %>
    <%= form.error_messages %>
    <div class="form_row">
      <%= form.label :current_password %>
      <%= form.password_field :current_password %>
      <%= help_popup "Enter the password you used to login " %>
    </div>
    <div class="form_row">
      <%= form.label :password %>
      <%= form.password_field :password %>
    </div>

    <div class="form_row">
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation %>
    </div>
    <%= form.hidden_field :id %>
    <%= form.hidden_field :reset_password_token %>


    <p>
    <%= form.submit "Change password" %>
    </p>
  <% end %>

</div>
