<%@stats.each do |klass, metrics| %>
    <h2><%= fix_names(klass.titleize) %></h2>
    <table>
      <% metrics.each do |name,value|  %>
        <tr>
          <td width="350px"><%=name.to_s.titleize%></td>
          <td><%=value%></td>
        </tr>
      <% end %>
    </table>
  <% end %>

  <br /> <br />
  <p>These statistics include records created after <%=@start_date.to_date %> and before <%=@end_date.to_date %>.   Records that have been deleted do not appear in these stats, 
  so it will not accurately represent SIMS usage during this time period. </p>

