<% readonly = false if readonly.nil? %>
<br class="brclear" />
<p>
  
  <%= label 'intervention[intervention_probe_assignment]',:probe_definition_id, "#{readonly ? '' : 'Assign'} Progress Monitor" %>
  <% if readonly %>
    <%= @intervention.assigned_probes %>
  <% elsif @recommended_monitors.size == 1 && @intervention.new_record? && !flash[:custom_intervention] %>
    <% @intervention_probe_assignment ||=@intervention.intervention_probe_assignment(@recommended_monitors.first.probe_definition_id) if (@recommended_monitors.first.probe_definition) %>
    <%= @intervention_probe_assignment.title if @intervention_probe_assignment %>
  <% else %>
    <% options = @recommended_monitors.map {|element| [element.send(:title), element.send(:probe_definition_id)]} %>
    <% options << ['Create Custom', 'custom'] if flash[:custom_intervention]  %>
    <% ipa = @intervention.intervention_probe_assignment ?  @intervention.intervention_probe_assignment.probe_definition_id : nil %> 
    <% @intervention_probe_assignment = @intervention.intervention_probe_assignment if params[:custom_probe] %>
    <% ipa='custom' if @intervention_probe_assignment and @intervention_probe_assignment.probe_definition and @intervention_probe_assignment.probe_definition.new_record? %>

    <%= select('intervention[intervention_probe_assignment]', :probe_definition_id, options, {:include_blank => true, 
:selected => ipa }, 
{:onchange => remote_function(:url => ajax_probe_assignment_interventions_url, :method => :get, 
              :with => 
             "'id=' + $('intervention_intervention_probe_assignment_probe_definition_id').value + '&intervention_id=#{@intervention.id}'", 
              :before => "$('spinnerassign_progress').show();", :class => "fixed_width")}) %>

    <%= spinner("assign_progress") %>
  <% end %>
</p>
<br class="brclear" />
<div id="intervention_probe_assignment">
  <%= render :partial => 'interventions/probe_assignments/intervention_probe_assignment_detail', :locals => {:readonly => readonly } %>
</div>
