<table width="98%" class ="item">
  <tr>
    <td width="15%"><%= form.label :benchmark %></td>
    <td width="10%"><%= form.text_field :benchmark, 'size'=>5  %></td>
 
    <td width="15%"><%= form.label :grade_level %></td>
    <td>
      <%= form.hidden_field :id  %>
      <%= form.text_field :grade_level,:size=>ProbeDefinitionBenchmark::GRADE_LEVEL_SIZE %>
      <%= form.hidden_field :_destroy  %>
      <%=link_to 'remove', '', :class => 'remove' %>
    </td>
  </tr>
</table>
