<% ipa.fields_for :probe_definition do |pdef| %>
<% pdef.object.valid? if request.post?%>

<%=pdef.error_messages  :object_name => 'Progress Monitor' %>
<% pdef.object.district_id = current_district.id %>
<%=pdef.hidden_field :district_id %>

  <table width="98%">
  <!--[form:probe_definition]-->
    <tr>
      <td width="15%"><%= pdef.label :title %></td>
      <td colspan="3"><%= pdef.text_field :title, :size => 51 ,:class => 'spell_check'%></td>
    </tr>
    <tr>
      <td width="15%"><%= pdef.label :description %></td>
      <td colspan="3"><%= pdef.text_area :description, :cols => 50, :rows =>5 ,:class => 'spell_check' %></td>
    </tr>
    <tr>
      <td width="15%"><%= pdef.label :minimum_score, 'Min score' %></td>
      <td width="10%"><%= pdef.text_field :minimum_score, :size => 5 %></td>
      <td width="15%"><%= pdef.label :maximum_score, 'Max score' %></td>
      <td width="60%"><%= pdef.text_field :maximum_score, :size => 5 %></td>
    </tr>
    <tr>

    </tr>
    <tr>
    </tr>
  <!--[eoform:probe_definition]-->
  </table>

  <div id="benchmarks">
    <% pdef.object.probe_definition_benchmarks.each do | probe_definition_benchmark | %>
      <%= render :partial => 'interventions/probe_assignments/benchmark_fields', :locals => {:probe_definition_benchmark => probe_definition_benchmark, :index =>"e_#{probe_definition_benchmark.id}"} %>
    <% end %>
  </div>
  <div class="form_row">
    <div class="fake_label">&nbsp;</div>
     <%= render :partial => 'interventions/probe_assignments/add_benchmark_link', :locals => {:index => pdef.object.probe_definition_benchmarks.size} %>
  </div>
  <br />
  <% content_for  :custom_probe_assets do %>

    <div class="form_row">
      <div class="fake_label">&nbsp;</div>
        <%= render :partial => '/assets/asset_form', :locals => {:form=>pdef, :parent =>'probe_definition'}  %>
    </div>
  <% end %>
<% end %>

      <% @spell_check_fields ||= []
      @spell_check_fields << 'intervention_intervention_probe_assignment_probe_definition_attributes_title'
      @spell_check_fields << 'intervention_intervention_probe_assignment_probe_definition_attributes_description'
    %>
