<p>
<% if @intervention.active? && probe_assignment.id == @intervention_probe_assignment.id %>
  <%= fields_for 'intervention[intervention_probe_assignment][new_probes][]', probe_assignment.probes.build, :index => 0  do |paf| %>
    <div id="new_probe_forms">
      <%= render :partial =>"interventions/probes/form", :locals=>{:form=>paf, :probe_assignment =>probe_assignment, :index=>0} %>
    </div>
    <%= link_to_remote 'Add Additional Score',
      :url => new_probe_url(@intervention, @intervention_probe_assignment), :method => :get
    %>

    <%= preview_graph_link('bar', @intervention,probe_assignment, probe_assignment_counter) %>
    <%= preview_graph_link('line', @intervention,probe_assignment, probe_assignment_counter) %>

<% end %>
<% end %>


<% unless probe_assignment.probes.blank? or ( probe_assignment.probes.size == 1 && probe_assignment.probes.first.new_record?) %>

<div class="fake_label">&nbsp;</div>
<table caption="Student Score Summary">
  <thead>
    <tr>
      <th>Date Administered</th>
      <th>Score</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial=>"interventions/probes/probe", :collection=>probe_assignment.probes.for_table %>
  </tbody>
</table>

<%= link_to("Show/Hide Graph", nil, :class => "toggler", :data => {:toggle_id => "graph_#{probe_assignment_counter}"}) %>
    <%= spinner("#{probe_assignment_counter}") %>


  </p>

  <div id='<%= "graph_#{probe_assignment_counter}" %>'>

    <%=  probe_graph(probe_assignment,probe_assignment_counter) %>

    </div>

  <% else %>
  <div id='<%= "graph_#{probe_assignment_counter}" %>'>


  </div>

  <% end %>

