<p>
<% if @intervention.active? && probe_assignment.id == @intervention_probe_assignment.id %>
  <%#= display_assessment_links(probe_assignment) %>
  <%= fields_for 'intervention[intervention_probe_assignment][new_probes][]', probe_assignment.probes.build, :index => 0  do |paf| %>
    <div id="new_probe_forms">
      <%= render :partial =>"interventions/probes/form", :locals=>{:form=>paf, :probe_assignment =>probe_assignment, :index=>0} %>
    </div>
    <%= link_to_remote 'Add Additional Score',
      :url => new_probe_url(@intervention, @intervention_probe_assignment), :method => :get
    %>


  <%= link_to_remote 'Preview Bar Graph',
    :url => preview_graph_url(:intervention_id => @intervention.id, :id => probe_assignment.id, :probe_definition_id => probe_assignment.probe_definition_id, :graph=>'bar'),
      :method => :get, :update => {:success => "graph_#{probe_assignment_counter}"},
      :with => "new_probe_scores()" %>

  <%= link_to_remote 'Preview Line Graph',
    :url => preview_graph_url(:intervention_id => @intervention.id, :id => probe_assignment.id, :probe_definition_id => probe_assignment.probe_definition_id, :graph =>'line'),
      :method => :get, :update => {:success => "graph_#{probe_assignment_counter}"},
      :with => "new_probe_scores()" %>



<% end %>
<% end %>


<% unless probe_assignment.probes.blank? or ( probe_assignment.probes.size == 1 && probe_assignment.probes.first.new_record?) %>

<div class="fake_label">&nbsp;</div>
<table caption="Student Score Summary">
  <thead>
    <tr>
      <th>Date Administered</th>
      <th>Score</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial=>"interventions/probes/probe", :collection=>probe_assignment.probes.for_table %>
  </tbody>
</table>

  <%= link_to_function("Hide Graph", nil, :id => "more_link_#{probe_assignment_counter}") do |page|
      page.visual_effect :toggle_blind, "graph_#{probe_assignment_counter}"
      page["more_link_#{probe_assignment_counter}"].replace_html "Show/Hide Graph"
      page.show "spinner#{probe_assignment_counter}"
      page.delay(1.5) do
       page.hide "spinner#{probe_assignment_counter}"
      end
    end %><%= spinner("#{probe_assignment_counter}") %>


  </p>

  <div id='<%= "graph_#{probe_assignment_counter}" %>'>

    <%=  probe_graph(probe_assignment,probe_assignment_counter) %>

    </div>

  <% else %>
  <div id='<%= "graph_#{probe_assignment_counter}" %>'>


  </div>

  <% end %>

