<div class="new_form">
  <p>
    <%=form.label :title %>
    <%= form.text_field :title %>
  </p>

  <p>
    <%=form.label :description %>
    <%= form.text_area :description %>
  </p>
  <p>
    <%= submit_tag submit_name , :class=>"submit"%>
     <%= spell_check_submit %>
  </p>
  <%= render :partial => 'spell_check/spelling'  %>
</div>
