<div class="new_form">
  <p>
    <%=form.label :title %>
    <%= form.text_field :title , :class => 'spell_check'%>
  </p>

  <p>
    <%=form.label :description %>
    <%= form.text_area :description , :class => 'spell_check' %>
  </p>
  <%= exempt_tiers_box form, 'All interventions under this category will be available to students at any tier.' %>
  <p>
    <%= submit_tag submit_name , :class=>"submit"%>
     <%= spell_check_button %>
  </p>
</div>
