<h1>Editing Category</h1>
<%= render :partial=>"intervention_builder/objectives/summary" %>
<%= error_messages_for :intervention_cluster %>

<%= form_for(@intervention_cluster, :url => intervention_builder_category_path(@goal_definition,@objective_definition,@intervention_cluster), :html => { :method => :put }) do |f| %>

<%= render :partial => f,:locals=>{ :submit_name=>"Update"} %>
<% end %>

<%= link_to 'Show', intervention_builder_category_path(@goal_definition,@objective_definition,@intervention_cluster) %> |
<%= link_to 'Back', intervention_builder_categories_path(@goal_definition,@objective_definition) %>
