<% if @show %>
  <h2><%=@current_district%> Administration</h2>
  <ul>
  <%=content_tag(:li,link_to('Add/Remove Schools', district_schools_url)) if @show_schools%>
  <%=content_tag(:li,link_to('Add/Remove Users', district_users_url)) if @show_users%>
  <%=content_tag(:li,link_to('Add/Remove Students', district_students_url)) if @show_students%>
  <%=content_tag(:li,link_to('Edit your district', edit_district_url(@current_district))) if @show_district%>
  <%=content_tag(:li,link_to('Edit Flag Descriptions', flag_descriptions_url)) if @show_district%>
  <%=content_tag(:li,link_to('Import from CSV', bulk_import_form_districts_url)) if @show_district %>
  <%=content_tag(:li,link_to('Export to CSV', export_districts_url)) if @show_district %>
  </ul>
<% end %>
