<table width="98%" class="item">
  <tr>
    <td width="15%"><%= form.label :benchmark %></td>
    <td><%= form.text_field :benchmark, 'size'=>5  %></td>
    <%= form.hidden_field :id %>

    <td><%= form.label :grade_level %></td>
    <td><%= form.text_field :grade_level,:size=>ProbeDefinitionBenchmark::GRADE_LEVEL_SIZE %></td>
    <td><%= form.hidden_field :_destroy %></td>
    <td>
      <%= link_to('remove','#', :class => 'remove') %>
    </td>
  </tr>
</table>
