<%= error_messages_for 'probe_definition'%>
<%= flash[:notice] %>
<table width="98%">
<!--[form:probe_definition]-->
  <tr>
    <td width="15%"><%=form.label :title %></td>
    <td colspan="3"><%= form.text_field  'title', 'size' => 51  %></td>
  </tr>
  <tr>
    <td width="15%"><%= form.label :description %></td>
    <td colspan="3"><%= form.text_area :description, 'cols' => 50,  'rows' => 5  %></td>
  </tr>
  <tr>
    <td width="15%"><%= form.label :minimum_score %></td>
    <td><%= form.text_field  :minimum_score, 'size' => 5  %></td>

    <td width="15%"><%= form.label  :maximum_score %></td>
    <td width="35%"><%= form.text_field :maximum_score, 'size' => 5  %></td>
  </tr>
  <tr>
  </tr>
<!--[eoform:probe_definition]-->
</table>

<div id="benchmarks">
  <% form.fields_for :probe_definition_benchmarks do |benchmark_fields| %>
    <%= render :partial => 'intervention_builder/probes/benchmark_fields', :locals => { :probe_definition_benchmark => benchmark_fields.object, :index =>"e_#{benchmark_fields.object.id}", :form=>form} %>
  <% end %>
</div>

<p>
  <%= render :partial => 'intervention_builder/probes/add_benchmark_link', :locals => { :index => @probe_definition.probe_definition_benchmarks.size } %>
</p>

<div id = "assets" >
  Attach a file or link <br />
  <%= render :partial => 'assets/asset', :collection => form.object.assets, :locals => {:parent => "probe_definition"} %>
</div>

<p>
  <%= add_asset_link "Add a file or link", "probe_definition" %>
</p>
