<%= error_messages_for 'probe_definition'%>
<%= flash[:notice] %>
<table width="98%">
<!--[form:probe_definition]-->
  <tr>
    <td width="15%"><%=form.label :title %></td>
    <td colspan="3"><%= form.text_field  'title', 'size' => 51  , :class => 'spell_check'%></td>
  </tr>
  <tr>
    <td width="15%"><%= form.label :description %></td>
    <td colspan="3"><%= form.text_area :description, 'cols' => 50,  'rows' => 5, :class => 'spell_check'  %></td>
  </tr>
  <tr>
    <td width="15%"><%= form.label :minimum_score %></td>
    <td><%= form.text_field  :minimum_score, 'size' => 5  %></td>

    <td width="15%"><%= form.label  :maximum_score %></td>
    <td width="35%"><%= form.text_field :maximum_score, 'size' => 5 %></td>
  </tr>

 <tr>
    <td width="15%"><%= form.label :cico, 'SCI'%></td>
    <td colspan="3"><%= form.check_box :cico  %> <%=help_popup "Check if this progress monitor is for Student Check-In  It uses
      a special form for scoring.   It also has to be enabled per school by the school administrator." %>
    </td>
  </tr>
  

  <tr>
    <% if form.object.school_id %>
    <td></td>
    <td colspan="3">
    <p>Originally a custom intervention by <%=form.object.user%> at <%=form.object.school%>.</p>
    <div class="fake_label"><%=form.check_box :custom %></div>
      <%= form.label :custom ,'Custom', {:class =>"checkbox_label"}%>
      </p>
    </td>

  <% end %>


  </tr>
<!--[eoform:probe_definition]-->
</table>

<div id="benchmarks">
  <%= form.fields_for :probe_definition_benchmarks do |benchmark_fields| %>
    <%= render :partial => 'intervention_builder/probes/benchmark_fields', :locals => { :probe_definition_benchmark => benchmark_fields.object, :index =>"e_#{benchmark_fields.object.id}", :form=>form} %>
  <% end %>
</div>

<p>
  <%= render :partial => 'intervention_builder/probes/add_benchmark_link', :locals => { :index => @probe_definition.probe_definition_benchmarks.size } %>
</p>

<%= render :partial => '/assets/asset_form', :locals => {:form=>form, :parent =>'probe_definition'}  %>
