<% cache(probe_definition) do %>
<% content_tag_for :tr, probe_definition do %>
   <td>
    <%= link_to 'Show', intervention_builder_probe_path(probe_definition)  %> <br />
        <%= link_to 'Edit', edit_intervention_builder_probe_path(probe_definition)  %>   <br />
    <%= link_to (probe_definition.active? ? 'Disable' : 'Enable'), disable_intervention_builder_probe_path(probe_definition) , 
      :confirm => 'Are you sure?', :method => :put %> 
      <%= check_box_tag 'id[]',probe_definition.id, false, :class => "ck_#{probe_definition.id}", :onclick => 'check_same_boxes(this)' %>

      <br />
    <%= link_to 'Delete', intervention_builder_probe_path(probe_definition),
      :confirm => 'Are you sure?  This will permanently remove this progress monitor definition', :method => :delete unless probe_definition.probes.empty? %> <br />
    <%=link_to 'Recommend Int Defs', url_for(:controller=>"intervention_builder/recommended_monitors",:action=>"assign_interventions_to_probe",:id=>probe_definition) %>  <br />
  </td>
 <td>
      <%='(Deactivated) ' unless probe_definition.active? %> 
      <%=h probe_definition.title %>
  </td>
  <td>
    <%=h probe_definition.description %>
  </td>
  <td>
     <%="(#{probe_definition.minimum_score}) - (#{probe_definition.maximum_score})" %>
  </td>
  <td>
     <%=  probe_definition.updated_at.to_s(:report) %>
  </td>

<% end %>
<% end %>

