<h1>Edit Progress Monitor:</h1>

<%= form_for(@probe_definition, :url=>intervention_builder_probe_path(@probe_definition), :html=>{:method=>:put, :multipart => true}) do |f| %>
  <%= render :partial => f%>
  <%= submit_tag 'Save Changes' %>
  <%= spell_check_button %>
<% end %>
<p>
  <%= link_to 'Display', intervention_builder_probe_path(@probe_definition) %>
  <%= link_to 'Back to List of Progress Monitors', intervention_builder_probes_path %>
</p>

