<h1>Listing answer_definitions</h1>

<table>
  <tr>
    <th>Value</th>
    <th>Position</th>
    <th>Text</th>
    <th>District</th>
    <th>Element definition</th>
  </tr>

<% for answer_definition in @answer_definitions %>
  <tr>
    <td><%=h answer_definition.value %></td>
    <td><%=h answer_definition.position %></td>
    <td><%=h answer_definition.text %></td>
    <td><%=h answer_definition.district %></td>
    <td><%=h answer_definition.element_definition %></td>
    <td><%= link_to 'Show', answer_definition %></td>
    <td><%= link_to 'Edit', edit_answer_definition_path(answer_definition) %></td>
    <td><%= link_to 'Destroy', answer_definition, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New answer_definition', new_answer_definition_path %>
