<h1>Orphaned Interventions<%=help_popup "An orphaned intervention is an 
intervention that has not yet been ended
that has also gone past the end date,  
has one or more participants that cannot access the student,  
or has no participants at all. </p>" %> </h1>




<p>The red fields show why that intervention is considered orphaned.</p>
<%form_tag do %>
<table>
  <thead>
    <tr>
      <th>End 
        <%=help_popup" To end one or more interventions, 
        check the boxes at the left, and then press 
        the \"End Selected\" Button.  (You may also need to 
        pick a reason.)" %>
      </th>
      <th>Student</th>
      <th>Intervention</th>
      <th>Start Date</th>
      <th>End Date 
        <%=help_popup "You can change the end date by clicking 
        on the icon next to the date and then choosing a new one." %>
      </th>
<th>Participants
  <%=help_popup "You can add participants by selecting them from 
  the dropdown in each intervention row.  
  The X next to a participant will remove him/her." %>
</th>
  </tr>

  </thead>
  <tbody>
    <%@interventions.each do |intervention| %>
      <tr>
        <td><%= check_box_tag 'id[]',intervention.id, false, :id => "ck_#{intervention.id}" %></td>
        <td><%=link_to intervention.student, intervention.student, :target => "_blank" %> </td>
        <td><%=intervention.title %></td>
        <td><%=intervention.start_date %> </td>
        <td <%= "style='color: red;'"  if intervention.end_date < Date.today%> >
          <%= unobtrusive_date_picker_tags intervention.end_date, 
            {:order => [:month, :day, :year], :start_year => intervention.start_date.year, :end_year => 2.years.since().year, 
              :prefix => "end_date#{intervention.id}", :range_low => intervention.start_date},
              {:onchange => remote_function(:url =>  update_end_date_orphaned_intervention_path(intervention), 
                                            :with => "'month=' + $('end_date#{intervention.id}-mm').value + '&day=' + $('end_date#{intervention.id}-dd').value +'&year=' + $('end_date#{intervention.id}').value",
                        :method => 'put')}
           %>
          *</td>
        <td><%=render :partial => "participant_list", :locals=>{:intervention => intervention} %></td>
      </tr>
    <% end %>

  </tbody>
</table>
<p>
<%=submit_tag 'End Selected' %></p>
<p>
End Reasons, require one to be checked
</p>
<% end %>

<br />



