<%form_tag do %>
<table>
  <thead>
    <tr>
      <th>End</th>
      <th>Student</th>
      <th>Intervention</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Participants</th>
  </tr>

  </thead>
  <tbody>
    <%@interventions.each do |intervention| %>
      <tr>
        <td><%= check_box_tag 'id[]',intervention.id, false, :id => "ck_#{intervention.id}" %></td>
        <td><%=intervention.student %> </td>
        <td><%=intervention.title %></td>
        <td><%=intervention.start_date %> </td>
        <td <%= "style='color: red;'"  if intervention.end_date < Date.today%> >
          <%= unobtrusive_date_picker_tags intervention.end_date, 
            {:order => [:month, :day, :year], :start_year => (1.year.ago).year, :end_year => 2.years.since().year, 
              :prefix => "end_date#{intervention.id}"},
              {:onchange => remote_function(:url =>  update_end_date_orphaned_intervention_path(intervention), 
                                            :with => "'month=' + $('end_date#{intervention.id}-mm').value + '&day=' + $('end_date#{intervention.id}-dd').value +'&year=' + $('end_date#{intervention.id}').value",
                        :method => 'put')}
           %>
          *</td>
        <td><%=render :partial => "participant_list", :locals=>{:intervention => intervention} %></td>
      </tr>
    <% end %>

  </tbody>
</table>
<p>
<%=submit_tag 'End Selected' %></p>
<p>
End Reasons, require one to be checked
</p>
<% end %>
