<%form_tag do %>
<table>
  <thead>
    <tr>
      <th>End</th>
      <th>Student</th>
      <th>Intervention</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Participants</th>
  </tr>

  </thead>
  <tbody>
    <%@interventions.each do |intervention| %>
      <tr>
        <td><%= check_box_tag 'id[]',intervention.id, false, :id => "ck_#{intervention.id}" %></td>
        <td><%=intervention.student %> </td>
        <td><%=intervention.title %></td>
        <td><%=intervention.start_date %> </td>
        <td <%= "style='color: red;'"  if intervention.end_date < Date.today%> ><%=intervention.end_date %> </td>
        <td><%=render :partial => "participant_list", :locals=>{:intervention => intervention} %></td>
      </tr>
    <% end %>

  </tbody>
</table>
<br />
<br />

<div id="end_intervention_reasons">
  <p> Please choose a reason for ending the selected interventions. </p>
  <%Intervention::END_REASONS.each do |end_reason| %>
    <%= radio_button_tag('end_reason', end_reason,{}, {:onclick=> "$('end_submit_tag').disabled=false;"}) %>
    <label for="end_reason_<%=end_reason.underscore.gsub(" ","_")%>"><%=end_reason %></label><br />
  <% end %>
  <%= submit_tag 'End Selected', :confirm=>"Are you sure you want to end these intervention?" ,:disabled=>true, :id => 'end_submit_tag'%>
  </div>
<% end %>
