<h1>Editing tier</h1>

<% form_for(@tier) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title, :class => 'spell_check' %>
  </p>
  
  <p>
    <%= f.submit 'Update' %>
    <%= spell_check_button %>
  </p>

<% end %>

<%= link_to 'Back', tiers_path %>
