<% @probe_definitions.each do |probe_definition| %>
  <%=  link_to h(probe_definition.title), edit_cico_setting_path(probe_definition.id) %> 
  <%= current_school.cico_enabled?(probe_definition) %>
  <br />
<% end %> 


<h1>Listing cico_settings</h1>

<table>
  <tr>
    <th>School</th>
    <th>Probe definition</th>
    <th>Enabled</th>
    <th>Default participant</th>
    <th>Points per expectation</th>
    <th>Default goal</th>
    <th>Days to collect</th>
  </tr>

<% @cico_settings.each do |cico_setting| %>
  <tr>
    <td><%=h cico_setting.school %></td>
    <td><%=h cico_setting.probe_definition %></td>
    <td><%=h cico_setting.enabled %></td>
    <td><%=h cico_setting.default_participant %></td>
    <td><%=h cico_setting.points_per_expectation %></td>
    <td><%=h cico_setting.default_goal %></td>
    <td><%=h cico_setting.days_to_collect %></td>
    <td><%#= link_to 'Edit', edit_cico_setting_path(cico_setting) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New cico_setting', new_cico_setting_path %>
