<p>
  <b>School:</b>
  <%=h @cico_setting.school %>
</p>

<p>
  <b>Probe definition:</b>
  <%=h @cico_setting.probe_definition %>
</p>

<p>
  <b>Enabled:</b>
  <%=h @cico_setting.enabled %>
</p>

<p>
  <b>Default participant:</b>
  <%=h @cico_setting.default_participant %>
</p>

<p>
  <b>Points per expectation:</b>
  <%=h @cico_setting.points_per_expectation %>
</p>

<p>
  <b>Default goal:</b>
  <%=h @cico_setting.default_goal %>
</p>

<p>
  <b>Days to collect:</b>
  <%=h @cico_setting.days_to_collect %>
</p>


<%= link_to 'Edit', edit_cico_setting_path(@cico_setting) %> |
<%= link_to 'Back', cico_settings_path %>