<a name="<%= dom_id(question_definition, "new_element_definition_errors_anchor") %>">
  <div id="<%= dom_id(question_definition, "new_element_definition_errors") %>" style="display:none"></div>
</a>
<%= form_for element_definition, :url => checklist_builder_elements_path,  :id => 'new_element_definition_form', :remote => true do |f| -%>
  <%= render :partial => 'form', :locals => { :f => f, :element_definition => element_definition } %>
  <p>
    <%= submit_tag "Create" %> |
    <%= spell_check_button %> |

    <%= link_to_remote "Cancel", new_checklist_builder_element_path(element_definition.checklist_definition, element_definition.question_definition) %>
  </p>
<%- end -%>
