<% if current_district.show_team_consultation_attachments? %>
  <% unless consultation_form.respond_to?(:assets) %>
    <% teams = Array(consultation_form.object.school_team || current_school.school_teams) %>
    <% teams.each do |team| %>
      <% if team.assets.present? %>
        <p>Templates and instructions from the <%=team %> team:</p>

        <ul><%=links_and_attachments team,'li' %> </ul>
      <% end %>
    <% end %>
  <% end %>

  <% if consultation_form.respond_to?(:assets) %>
    <%=consultation_form.assets %>
  <%  else %>
    <p>You can upload documentation here or a completed template here:</p>
    <%= render :partial => '/assets/asset_form', :locals => {:form=>consultation_form, :parent =>consultation_form.object_name}  %>
  <% end %>
  <%= link_to_function 'Show/Hide Form', "$('#{dom_id(consultation_form.object,"form")}').toggle()"  %>
<% end %>


<%= div_for consultation_form.object,'form', :style => hide_or_show_consultation_form(consultation_form) do %>
<%= render :partial => 'consultation_forms/concerns_form', :object => consultation_form %>

<p>
  <%= consultation_form.label :do_differently, 'What do you want the student to be able to do?' %> <br />
  <%= consultation_form.text_area :do_differently, :size => ConsultationForm::FIELD_SIZE, :class => 'spell_check' %>
</p>

<p>
  <%= consultation_form.label :parent_notified, 'Has the parent been notified of the concern? If so how?' %> <br />
  <%= consultation_form.text_area :parent_notified, :size => ConsultationForm::FIELD_SIZE, :class => 'spell_check' %>
</p>

<p>
  <%= consultation_form.label :not_in_sims, 'What interventions have been tried that are not documented in SIMS?' %> <br />
  <%= consultation_form.text_area :not_in_sims, :size => ConsultationForm::FIELD_SIZE , :class => 'spell_check'%>
  </p>

<p>
  <%= consultation_form.label :race_culture, "How does race and/or culture impact the student's performance in school?" %> <br />
  <%= consultation_form.text_area :race_culture, :size => ConsultationForm::FIELD_SIZE , :class => 'spell_check'%>
</p>

<p>
  <%= consultation_form.label :desired_outcome, 'What is the desired outcome from the team consultation?' %> <br />
  <%= consultation_form.text_area :desired_outcome, :size => ConsultationForm::FIELD_SIZE , :class => 'spell_check'%>
</p>

<% end %>
