<table border ="1">
  <thead>
    <tr>
      <th>Area of concern</th>
      <th>Strengths</th>
      <th>Concerns</th>
      <th>Recent Changes or contributing factors</th>
    </tr>
  </thead>
  <tbody>
    <% concerns_form.object.build_concerns %>
    <% concerns_form.fields_for :consultation_form_concerns do |concern_fields| %>
      <tr>
        <td>
          <%= concern_fields.hidden_field :area %>
          <%= concern_fields.check_box :checked %>
          <%= concern_fields.label :checked, concern_fields.object.area_text %>
        </td>
        <td>
          <%= concern_fields.text_area :strengths %>
        </td>
        <td>
          <%= concern_fields.text_area :concerns %>
        </td>
        <td>
          <%= concern_fields.text_area :recent_changes %>
        </td>

      </tr>

    <% end %>

  </tbody>



</table>
