<% consultation_form ||= @consultation_form || show %>
<%= content_tag_for :tr, consultation_form, "edit_form" do %>
  <td colspan="6">
    <%= form_for(@consultation_form,:url => consultation_form_path(consultation_form, :format =>:js), :html=>{:multipart => true, :target=>"upload_frame"}) do |f| %>
      <%= render :partial => 'consultation_forms/consultation_form', :object => f %>
      <%=submit_tag 'Update' %>
      <%= spell_check_button %>
      <%= link_to 'cancel', '#', :class => 'cancel_link', :data => {
        :show => dom_id(@consultation_form, "show_hide_view"),
        :show2 => dom_id(@consultation_form, "edit"),
        :remove => dom_id(@consultation_form, "edit_form")}
      %>
    <% end %>
  </td>
<% end %>
