<%= error_messages_for :recommendation %>
 <p>
    Please indicate conclusions and recommendations by selecting from the following statements: <br />
    <%= recommendation_buttons(form) %>
   
<div id = "elig_criteria" style="display:none">
  <ul>    
    <li>File 1</li>
  </ul>
  <%=form.check_box :request_referral%> Based on early intervening services, the completion of the checklist, screening results (where appropriate) and a review of the eligibility criteria, the team feels there is reason to suspect an impairment.  Submit a referral to special education. 
</div>

</p>

<p>

<%  recommendation.answers.each do |answer| %>
  <% fields_for "recommendation[answers][]",answer do |af| %>

    <%=content_tag :b, af.label(:text, answer.recommendation_answer_definition.text, :for=> answer.recommendation_answer_definition) %>

    <div> <%= af.text_area  :text, :size => "60x4" , :style=>"margin-left:1em;", :id=>answer.recommendation_answer_definition%> </div><br />
    <%=af.hidden_field :recommendation_answer_definition_id %>

  <% end %>
<% end %>

  </p>
