<%= error_messages_for :recommendation %>

<p>
<% recommendation.answers.each do |answer| %>
  <%= form.fields_for :recommendation_answers, answer do |ra| %>
    <%=ra.label :text, content_tag(:b,answer.recommendation_answer_definition.text) %>
    <div> <%= ra.text_area  :text, :size => "60x4" , :style=>"margin-left:1em;", :class => 'spell_check'%> </div><br />
    <%=ra.hidden_field :recommendation_answer_definition_id %>
    <%Array(recommendation.previous_answers[answer.recommendation_answer_definition_id]).each do |prev| %>
      <%=content_tag :p, "#{prev.text} by #{prev.recommendation.user} on #{prev.updated_at} " if (defined?show_previous && show_previous)%>
    <% end %>


  <% end %>

<% end %>


</p>

 <p>
    Please indicate conclusions and recommendations by selecting from the following statements: <br />
    <%= recommendation_buttons(form) %>

<div id = "elig_criteria" style="display:none">
  <%=mmsd_eligibility_criteria %>
  <%=form.check_box :request_referral%> Based on early intervening services, the completion of the checklist, screening results (where appropriate) and a review of the eligibility criteria, the team feels there is reason to suspect an impairment.  Submit a referral to special education.
</div>
<%= form.hidden_field :recommendation_definition_id %>
<%= form.hidden_field :checklist_id %>



</p>

