<tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
  <td style="padding-right: 20px;">
    <%= check_box_tag('studentID[]', enrolled_student.student.id,false,:id=>enrolled_student.student) %>
  </td>
  <td style="padding-right: 20px;">
    <%= enrolled_student.student.last_name %>, <%= enrolled_student.student.first_name %>
  </td>
  <td style="padding-right: 20px;">
    <%= enrolled_student.student.number %>
  </td>
  <td style="padding-right: 20px;">
    <%= enrolled_student.grade %>
  </td>
</tr>
                                                                                                                                                                                       
