<h2 class="intervention_summary">Intervention and Progress Monitoring</h2>

<h3 class="intervention_summary"><span>Assign New Intervention and Progress Monitor</span></h3>

  <%=content_tag :span, link_to("Select New Intervention and Progress Monitor from Menu ", new_intervention_path)%> <br />
  <%=content_tag :span, link_to("Create New Custom Intervention", new_intervention_path(:custom_intervention=>true))%> <br />
  <%=link_to_remote_degrades("Select from Intervention Quicklist", :url=>quicklist_options_interventions_path, :method => :get) %> <br />
    <span id="quicklist"> </span>

<h3 class="intervention_summary"><span>Active Interventions</span></h3>
<%= render :partial => 'intervention_table', :locals=>{:interventions => @student.interventions.active} %>

<h3 class="intervention_summary"><span>Inactive Interventions</span></h3>
<%= render :partial => 'intervention_table', :locals=>{:interventions => @student.interventions.inactive} %>



