<h2 class="intervention_summary",  ondblclick="$('interventions').toggle();">Intervention and Progress Monitoring</h2>
<div id="interventions" >
<h3 class="intervention_summary"><span>Assign New Intervention and Progress Monitor</span></h3>

  <%=content_tag :div, link_to("Select New Intervention and Progress Monitor from Menu", new_intervention_path)%>
  <%=content_tag :div, link_to("Create New Custom Intervention and Progress Monitor", new_intervention_path(:custom_intervention=>true)) if custom_intervention_enabled?%>
  <%=link_to_remote("Select from Intervention Quicklist", interventions_quicklists_path, :method => :get) %> <br />
    <span id="quicklist"> </span>

<% if @student.interventions.active.present? %>
  <h3 class="intervention_summary"><span>Active Interventions</span></h3>
  <div id='active_interventions'>
    <%= render :partial => 'intervention_table', :locals=>{:interventions => @student.interventions.active} %>
  </div>
<% end %>
<% if @student.interventions.inactive.present? %>
  <h3 class="intervention_summary"><span>Inactive Interventions</span></h3>
  <%= link_to_function "Show/Hide" , "$('inactive_interventions').toggle()" %> <%=inactive_interventions_count(@student) %>
  <div id='inactive_interventions' style='display:none'>
    <%= render :partial => 'intervention_table', :locals=>{:interventions => @student.interventions.inactive} %>
  </div>
<% end %>
</div>

