<tr>
  <td><%=content_tag :div, intervention.objective_definition, :class=>"trunc" %>
    <td><%=content_tag :div, intervention.title, :class=>"trunc #{intervention.sld? ? 'sld' : '' }" %></td>
  <td><%=content_tag :div, intervention.start_date , :class=>"trunc"%></td>
  <td><%=content_tag :div, intervention.assigned_probes, :class=>"trunc" %></td>
<% unless readonly? %>
  <td>
    <% if intervention.active? %>
      <%=content_tag :div, link_to("Edit/Add Comment",edit_intervention_path(intervention)), :class=>"trunc" %>
    <% else %>
      <%=content_tag :div, link_to("View",intervention), :class=>"trunc" %>
    <% end %>
  </td>
<% end %>
</tr>

<% if false %>
  <%=link_to "Assign Monitors", intervention_probe_assignments_path(intervention) %> |
  <%=link_to "Edit",edit_intervention_path(intervention) %> |
  <%= link_to 'Delete', intervention_path(intervention), :method=>:delete,:confirm=>"Are you sure you want to delete this intervention?" %> |
  <% if intervention.active? %>
    <%= link_to 'End', end_intervention_path(intervention), :method=>:put,:confirm=>"Are you sure you want to end this intervention?" %> |
  <% end %>
  <%=intervention.intervention_definition.title %>
<% end %>
