<tr>
  <td>
    <%=sibling.last_name + ", " + sibling.first_name + " " + sibling.middle_name.to_s%>
  </td>
  <td><%=sibling.age%></td>
  <td><%=sibling.grade%></td>
  <td><%=sibling.student_number%></td>
  <td><%=sibling.school_name%></td>
  
</tr>
