<table class="studentList">
<tr>
  <td class="label"> Name </td>
  <td> <%=h @student.fullname_last_first%> </td> 

  <td class="label"> Birth Date </td>
  <td> <%=h @student.birthdate.to_s%> </td> 
</tr>
<tr>
  <td class="label"> Student Number </td>
  <td> <%=h @student.number%> </td> 
</tr>

<% @student.enrollments.each do |enrollment| %>
  <tr>
  <td class="label">School</td>
  <td> <%= h enrollment.school %> </td>
  <td class="label">Grade</td>
  <td> <%= h enrollment.grade %> </td>
  </tr>
<% end %>

</table>

