<a onclick="selectStudents();">all</a> | <a onclick="unselectStudents();">none</a> <%=spinner %>
<%= form_tag({:action=>'select'}, {:name => "select_students_form"}) do %>

  <p class="center_submit">
    <%= submit_tag "select for problem solving", :name => 'process' %>
  </p>


  <div id='table'>
    <table class="rowstyle-list-line-even">
      <thead>
        <tr>
          <th>Select</th>
          <th class="sortable">Student</th>
          <th class="sortable" >Number</th>
          <th class="sortable">Grade</th>
          <th class="sortable">ESL</th>
          <th class="sortable">SpEd</th>
          <th>Status</th>
          <th><%=help_popup("Click on a column to sort.  You can hold down shift to sort by multiple columns.")  %> </th>
        </tr>
      </thead>
      <tbody>
        <% @students.each do |enrolled_student|  %>
      <% if current_district.id == enrolled_student.district_id.to_i %>
        <tr class="<%= cycle('', 'list-line-even') %>">
          <td style="text-align:center;">
            <%= check_box_tag('id[]', enrolled_student.id,false,:id=>dom_id(enrolled_student)) %>
          </td>

          <td style="text-align:left;">
            <%= label_tag(dom_id(enrolled_student),"#{enrolled_student.last_name}, #{enrolled_student.first_name}") %>
          </td>
          <td style="text-align: center;">
            <%= enrolled_student.number %>
          </td>
          <td style="text-align: center;">
            <%= enrolled_student.grade %>
          </td>
          <td style="text-align: center;">
            <%= yes_or_no enrolled_student.esl %>
          </td>
          <td style="text-align: center;">
            <%= yes_or_no enrolled_student.special_ed %>
          </td>

          <td>
            <% if controller.send(:cache_configured?) && @cached_status.keys.include?(enrolled_student.index_cache_key) %>
              <%= @cached_status[enrolled_student.index_cache_key] %>
            <% else %>
              <%sd= status_display(enrolled_student.student) %>
              <%Rails.cache.write(enrolled_student.index_cache_key, sd) if controller.send(:cache_configured?)%>
              <%= sd %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
      </tbody>
    </table>
  </div>
  <%=raw '&nbsp;'*3%><%=pluralize @students.size,"student"%> selected
  <p class="center_submit">
    <%= submit_tag "select for problem solving", :name => 'process' %>
  </p>
<% end %>

<%= render :partial => 'review_core_practices' %>
<%= javascript_include_tag 'tablesort' %>

