<% form_tag({}, {:name => "select_students_form"}) do %>
  <div id='table'>
		<label for="students_grade">Grade</label>
    <%= select(:students,:grade,@grades) %><br/>

		<label for="students_last_name">Last Name</label>
		<%= text_field(:students, :last_name) %><br/>

		Select Student(s) by
		<%= radio_button_tag(:search_type, :list_all, :checked => true) %><label for="search_type_list_all">List all students</label><br />
		<%= radio_button_tag(:search_type, :flagged_intervention) %><label for="search_type_flagged_intervention">List only students flagged for intervention</label><%= flag_select %><br />
  </div>
  <%= submit_tag "Search for Students", :name => 'search' %>
<% end %>