<%= selected_navigation %>

<div class = "profile_page">
  <% cache ["student_topsection", @student,restrict_free_lunch?(@student)] do %>
    <%= render :partial => 'student', :locals => {:changeable => true} %>
    <%= render :partial => 'extended_profile' %>
  <% end %>
  <%= render :partial => 'team_consultations' %>
  <%= render :partial => 'team_notes' %>
  <%= render :partial => 'interventions' %>
  <%= render :partial => 'review_and_summary' %>
</div>

<%= selected_navigation %>
