<%= selected_navigation %>

<div class = "profile_page">
  <%= render :partial => 'student', :locals => {:changeable => true} %>
  <%= render :partial => 'extended_profile' %>
  <%= render :partial => 'team_consultations' %>
  <%= render :partial => 'team_notes' %>
  <%= render :partial => 'interventions' %>
  <%= render :partial => 'checklists' %>
  <%= render :partial => 'recommendations' %>
</div>

<%= selected_navigation %>
