Student Profile for <%= @student.fullname %>
  <span id='studentflags'> <%= status_display(@student) %></span>
  <div id="customflag">
    <%= render :partial=>"custom_flags/list",:locals=>{:student=>@student} %>
  </div>

<p>
  <b>District:</b>
  <%=h @student.district %>
</p>

<p>
  <b>Last name:</b>
  <%=h @student.last_name %>
</p>

<p>
  <b>First name:</b>
  <%=h @student.first_name %>
</p>

<p>
  <b>Id district:</b>
  <%=h @student.id_district %>
</p>

<p>
  <b>Id state:</b>
  <%=h @student.id_state %>
</p>

<p>
  <b>Id country:</b>
  <%=h @student.id_country %>
</p>

<p>
  <b>Enrollments:</b>
  <%=h @student.enrollments.first.grade %> (Should iterate through enrollments and show the current ones.)
</p>

