Student Profile for <%= @student.fullname %>
<%= render :partial => 'flags'%>
<%= selected_navigation %>

<%= render :partial =>'student'%>
<div class = "profile_page">

  <%= render :partial => 'team_notes' %>

  <%= render :partial => 'interventions' %>

  <%= render :partial => 'checklists' %>

  <%= render :partial => 'recommendations' %>
</div>

  

<%= selected_navigation %>

