  <%= label_form.error_messages %>
  <fieldset>

  <%= label_form.text_field :name %>
  <%= label_form.text_field :district_school_id, :label => "SIS Primary Key", 
      :help => "The primary key used in your Student Information System for the school.  #{id_district_desc(label_form.object)}" %>


  <h2>Explicit User Assignments</h2>
    (All students in district implies regular access to all schools)  The label_format of this may change.    Be sure to hit update after adding, changing, or removing user school assignments.
  <table>
    <thead>
      <tr><th>User</th>
      <th>School Admin
      <%= help_popup("A school admin can administer the quicklist, create groups, and assign students and users to groups for this school.") %> </th>

    </thead>
    <tbody id = "user_school_assignments">
      <%= render :partial => 'user_school_assignment', :collection => @school.user_school_assignments %>
    </tbody>
  </table>

  <div>
    <% if @users %>
      <table id="hidden_user_school_assignment">
        <%= render :partial => "user_school_assignment", :object => UserSchoolAssignment.new, :locals => {:disable => true}  %>
      </table>
      <%= link_to "Add a user","#", :id => "new_user_school_assignment_link" %>
    <% else %>
      <p>There are more than 100 users in the district; please assign new  school assignments through the add/remove users interface.</p>
    <% end %>
  </div>
</fieldset>
