<tr class="user_school_assignment">
  <% new_or_existing = user_school_assignment.new_record? ? 'new' : 'existing' %>
  <% prefix = "school[#{new_or_existing}_user_school_assignment_attributes][]" %>

  <%= fields_for prefix, user_school_assignment do |f| -%>
    <td>
      <% if @users %>
        <%= f.collection_select('user_id', @users, :id, :to_s) %>
      <% else %>
        <%= f.hidden_field 'user_id' %> <%= user_school_assignment.user.to_s %>
      <% end %>
    </td>
    <td>

      <%= f.select :admin, [['No', false], ['Yes', true]] %>
    </td>
    <td>

      <%= link_to "Remove","",:class => "cancel_link", :data => {:remove_up => ".user_school_assignment"}  %>
    </td>
  <% end -%>
</tr>
