<h1>Listing schools</h1>

<table>
  <thead>
  <tr>

    <th class="sortable">Name</th>
    <th class="sortable">district_school_id</th>
    <th></th>
  </tr>
  </thead>
  <tbody>

<% for school in @schools %>
  <tr>
    <td><%= h school.name %></td>
    <td><%= h school.district_school_id %></td>

    <td>
      <%= link_to 'Edit', edit_district_school_path(school) %>
      <%= link_to 'Delete', district_school_path(school), :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New School', new_district_school_path %>
<%= javascript_include_tag 'tablesort' %>

