<h1>New school</h1>

<% form_for(@school,:url=>district_schools_path) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => f %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
<%= render :partial => 'user_school_assignments/new_link', :locals=>{:obj=>"user"} %>


<%= link_to 'Back', district_schools_path %>
