<h1>Listing Personal Groups for <%=current_school %></h1>

<table>
  <tr>
    <th>Name</th>
    <th>Students</th>
  </tr>

<% @personal_groups.each do |personal_group| %>
  <tr>
    <td><%=h personal_group.name %></td>
    <td><%=personal_group.students.join(", ")%> (<%=personal_group.students.count%>) </td> 
    <td><%= link_to 'Edit', edit_personal_group_path(personal_group) %></td>
    <td><%= link_to 'Delete', personal_group, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New personal_group', new_personal_group_path %>
