<h1>Personal Groups for <%=current_school %></h1>
<h2>Create New Personal Group</h2>
<p><%=PersonalGroup::DESCRIPTION%></p>

<%= link_to 'New Personal Group', new_personal_group_path %>
<h2>Already created personal groups for <%=current_school %></h2>
<table>
  <tr>
    <th>Name</th>
    <th>Students</th>
  </tr>

<% @personal_groups.each do |personal_group| %>
  <tr>
    <td><%=h personal_group.name %></td>
    <td><%=personal_group.students.join(", ")%> (<%=personal_group.students.count%>) </td> 
    <td><%= link_to 'Edit', edit_personal_group_path(personal_group) %></td>
    <td><%= link_to 'Delete', personal_group, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<% if @personal_groups.blank? %>
  <p>You do not have any personal groups for this school.</p>
<% end %>

<br />

<%= link_to 'New Personal Group', new_personal_group_path %>
