<h1>New Personal Group</h1>

<p><%=PersonalGroup::DESCRIPTION%> </p>
<p> The students here are based on your student
selection.  If you'd like to select different students
then click "Student Search" or "Student Selection"
in the breadcrumbs.</p>

<%= form_for(@personal_group) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
 <p> Students </p>
 <% @students.each do |student| %>
   <%= check_box_tag "personal_group[student_ids][]", student.id, true, :id => "personal_group_student_ids_#{student.id}" %>
   <%= label_tag "personal_group_student_ids_#{student.id}", student %> <br />
 <% end %>
 </p>


  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', personal_groups_path %>
