<h1>New Personal Group</h1>

<% form_for(@personal_group) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
 <p> Students </p>
 <% @students.each do |student| %>
   <%= check_box_tag "personal_group[student_ids][]", student.id, true, :id => "personal_group_student_ids_#{student.id}" %>
   
   <%= label_tag "personal_group_student_ids_#{student.id}", student %> <br />
 <% end %>
 </p>


  
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', personal_groups_path %>
