<h1>Listing team_agendas</h1>

<table>
  <tr>
    <th>Team</th>
    <th>Date</th>
    <th>Notes</th>
  </tr>

<% @team_agendas.each do |team_agenda| %>
  <tr>
    <td><%=h team_agenda.team %></td>
    <td><%=h team_agenda.date %></td>
    <td><%=h team_agenda.notes %></td>
    <td><%= link_to 'Show', team_agenda %></td>
    <td><%= link_to 'Edit', edit_team_agenda_path(team_agenda) %></td>
    <td><%= link_to 'Destroy', team_agenda, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<table>
  <tbody>
  <tr>
    <td>
<% form_tag( {} , :id=>'agenda_form') do %>
<%= unobtrusive_date_picker_tags Date.today , {:order=>[:month,:day,:year],:inline => true}   %>
<%=observe_form('agenda_form', :frequency =>0.25, :url => team_agenda_url(1), :method => :get )%>

<% end %>
</td>

    <td id="agenda_for_day">
      
      <%= render :partial => 'agenda_day' %>
    </td>
  </tr>
  </tbody>
</table>


<br />

<%= link_to 'New team_agenda', new_team_agenda_path %>
