<table class="studentList" width="98%">
	<tr>
    <td class="label">
      Name
    </td>
    <td class="data">
      <%= @student.last_name %>, <%= @student.first_name %>
    </td>
    <td class="label">
      Birth Date
    </td>
    <td class="data">
      <%= @student.birthdate %>
    </td>
  </tr>
  <tr>
    <td class="label">
      Student Number
    </td>
    <td class="data">
      <%= @student.number %>
    </td>
    <td class="label">
      Grade
    </td>
    <td class="data">
      <%= @student.enrollments.map(&:grade).join(' ') %>
    </td>
  </tr>
  <tr>
    <td class="label">
      School
    </td>
    <td class="data">
      <%= @student.enrollments.map{|e| e.school.name}.join(' ') %>
    </td>
  </tr>
</table>