<div id="categories" class ="form_row">
<% if categories %>
  <%= form_tag interventions_categories_path(@goal_definition, @objective_definition,
      :custom_intervention => custom_intervention?),
      :remote => true do %>
      <%= label_tag :category_id, 'Assign Category' %>
      <%= category_select %>
    <%= spinner("categories") %>
    <%= content_tag :noscript, submit_tag("Choose Category") %><br />
    <div id="category_description"><%=description(@intervention_cluster) %></div>
  <% end %>
<% end %>
</div>
<br class="brclear" />
<%= render :partial => 'interventions/definitions/select' %>
