  <%= form.error_messages %>

  <p>
    <%= form.label :category %><br />
    <%= form.select :category, Flag::FLAGTYPES.collect{|h,k| [k[:humanize],h]} %>
  </p>

  <p> 
    <%= form.label :threshold %>   Between 0 and 100 <br />
    <%= form.text_field :threshold %>
  </p>

  <%= render :partial => 'assets/asset_form', :locals => {:form=>form, :parent =>'flag_category'}  %>

