<h1>Listing Flag Categories</h1>

<table>
  <tr>
    <th>Category</th>
    <th>Threshold</th>
    <th>Documents</th>
  </tr>

<% for flag_category in @flag_categories %>
  <tr>
    <td><%=Flag::FLAGTYPES[flag_category.category][:humanize] %></td>
    <td><%= flag_category.threshold %> </td>
    <td><ul><%= links_and_attachments(flag_category, "li") %></ul> </td>
    <td><%= link_to 'Edit', edit_flag_category_path(flag_category) %></td>
    <td><%= link_to 'Delete', flag_category, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Flag Category', new_flag_category_path %>
