<h1>Listing Flag Categories</h1>

<table>
  <tr>
    <th>District</th>
    <th>Category</th>
  </tr>

<% for flag_category in @flag_categories %>
  <tr>
    <td><%=h flag_category.district %></td>
    <td><%=h flag_category.category %></td>
    <td><%= link_to 'Show', flag_category %></td>
    <td><%= link_to 'Edit', edit_flag_category_path(flag_category) %></td>
    <td><%= link_to 'Delete', flag_category, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Flag Category', new_flag_category_path %>
