<h1>New flag_category</h1>

<% form_for(@flag_category) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :district %><br />
    <%= f.text_field :district %>
  </p>
  <p>
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', flag_categories_path %>
