<h1>New behavior_referral</h1>
<p>This form is going to change significantly.</p>a

There will be some sort of nav bar at the top, like when dealing with multiple students in the normal use of sims.

<% form_for([@school,@behavior_referral]) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :end_year %><br />
    <%= f.select :end_year,  @school.end_years %>
  </p>
 
  <p>
  ajax partial name search when you start tying in last name
    <%= f.label :student %><br />
    <%= f.text_field :student %>
    </p>
  
    hidden field for student_id


 <p>
  ajax partial name search when you start tying in last name
    <%= f.label :reported_by %><br />
    <%= f.text_field :reported_by %>
  </p>
  <p>
    select box
    <%= f.label :motivation %><br />
    <%= f.text_field :motivation %>
  </p>
  <p>
  select box


    <%= f.label :behavior %><br />
    <%= f.text_field :behavior %>
  </p>
  <p>
    select box with school specific admin decisions merged in
    <%= f.label :admin_decision %><br />
    <%= f.text_field :admin_decision %>
  </p>
  <p>
  This will only show up if OSS,ISS, or expulsion
    <%= f.label :half_days_of_suspension %><br />
    <%= f.text_field :half_days_of_suspension %>
    
  </p>
  <p>
  This will have a calendar too
    <%= f.label :time %><br />
    <%= f.datetime_select :time %>
  </p>
  <p>
   select box with school specific ones as well
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </p>
  <p>
    <%= f.label :other %><br />
    <%= f.text_area :other %>
  </p>
  <p>
     Create button
    <%#= f.submit 'Create' %>
  </p>
<% end %>

<%#= link_to 'Back', school_behavior_referrals_path(@school) %>

<p>Should this form identify other staff involved? (The admin that designated the punishment or response)  Should other students be selected here?  Instead
of an option to carry settings forward, I think it would make more sense to indicate all students involved and have an option to automatically create referrals for those students
which the user would then edit.</p>


<h4>School Admin Changes</h4>
<p>
The school admins would get another menu to setup the school to define days per month, admin decisions [unless these are district specific instead], additional locations.
</p>
