<p>
  <b>School:</b>
  <%=h @behavior_referral.school %>
</p>

<p>
  <b>Student:</b>
  <%=h @behavior_referral.student %>
</p>

<p>
  <b>End year:</b>
  <%=h @behavior_referral.end_year %>
</p>

<p>
  <b>Recorder:</b>
  <%=h @behavior_referral.recorder_id %>
</p>

<p>
  <b>Reported by:</b>
  <%=h @behavior_referral.reported_by %>
</p>

<p>
  <b>Motivation:</b>
  <%=h @behavior_referral.motivation %>
</p>

<p>
  <b>Behavior:</b>
  <%=h @behavior_referral.behavior %>
</p>

<p>
  <b>Admin decision:</b>
  <%=h @behavior_referral.admin_decision %>
</p>

<p>
  <b>Half days of suspension:</b>
  <%=h @behavior_referral.half_days_of_suspension %>
</p>

<p>
  <b>Time:</b>
  <%=h @behavior_referral.time %>
</p>

<p>
  <b>Location:</b>
  <%=h @behavior_referral.location %>
</p>

<p>
  <b>Other:</b>
  <%=h @behavior_referral.other %>
</p>


<%= link_to 'Edit', edit_behavior_referral_path(@behavior_referral) %> |
<%= link_to 'Back', behavior_referrals_path %>