<%= form.error_messages %>
<p>Groups are collections of students; you can use them to represent classes, neighborhoods (SLC), etc.</p>
<p>
  <%= form.label :title %><br />
  <%= form.text_field :title %>

</p>

<p>
  <%= form.label :district_group_id, "District Group ID" %> <br />
  <%= form.text_field :district_group_id %>
  <%= help_popup("The primary key used in your Student Information System for the group.") %>
</p>
