<h1>Assign Special Group User</h1>
<% remote_form_for(@special_user_group, :url=>add_special_group_path(@group)) do |f| %>
  <%=  f.error_messages %>
  <%= f.collection_select(:user_id,@users, :id,:to_s) %>
  <%=f.check_box :is_principal %><%= f.label :is_principal%> 
  <p>
    <%= f.submit "Assign User" %>
  </p>
<% end %>
