<h1>Listing groups</h1>

<h2> Virtual Groups </h2>

<table>
  <tr>
    <th>Title</th>
  </tr>


<% for group in @virtual_groups %>
   <tr>
    <td><%=h group.title %></td>
    <td><%= link_to 'User Assignment', show_special_group_path(group.title.gsub(/(:)* /,"_")) %></td>
  </tr>
<% end %>
</table>

 


<h2> Assigned Groups </h2>

<% form_tag groups_path, :method=>:get do %>
  <%=label_tag :title, "title, Any part"%>
  <%=text_field_tag :title %>
  <%=submit_tag "Search by Title", :name=>nil %>
<% end %>

  <%= will_paginate @groups %>
<%= link_to 'New group', new_group_path %>
<table>
  <tr>
    <th>Title</th>
  </tr>


<% for group in @groups %>
  <tr>
    <td><%=h group.title %></td>
    <td><%= link_to 'User and Student Assignment', group %></td>
    <td><%= link_to 'Rename', edit_group_path(group) %></td>
    <td><%= link_to 'Delete', group, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New group', new_group_path %>
