<h1>Groups</h1>

<h2>Create New Group</h2>
  <p><%=Group::DESCRIPTION%></p>

  <p><%= link_to 'New group', new_group_path %></p>
  <h2>Virtual Groups </h2>
  <p>In a virtual group, the users are assigned by the School Administrator, 
  but the sudents are assigned dynamically by SIMS.  The student assignments
  are based on enrollments. If a student is enrolled in a school, that student will
  belong to the "All Students In School" and their respective "All Students In Grade: X."
  When the enrollments change, the students in these groups will change automatically.
  </p>

<table>
  <tr>
    <th>Title</th>
  </tr>


<% for group in @virtual_groups %>
   <tr>
    <td><%=h group.title %></td>
    <td><%= link_to 'User Assignment', show_special_group_path(group.title.gsub(/(:)* /,"_")) %></td>
  </tr>
<% end %>
</table>

 


<h2> Assigned Groups </h2>
<p> In an assigned group, the students and users are assigned by the School Admin. </p>
<% form_tag groups_path, :method=>:get do %>
  <%=label_tag :title, "title, Any part"%>
  <%=text_field_tag :title %>
  <%=submit_tag "Search by Title", :name=>nil %>
<% end %>

  <%= will_paginate @groups %>
<table>
  <tr>
    <th>Title</th>
  </tr>


<% for group in @groups %>
  <tr>
    <td><%=h group.title %></td>
    <td><%= link_to 'User and Student Assignment', group %></td>
    <td><%= link_to 'Rename', edit_group_path(group) %></td>
    <td><%= link_to 'Delete', group, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<% if @groups.blank? %>
  <p>No groups have been assigned for this school.</p>
<% end %>

<br />

<%= link_to 'New group', new_group_path %>
