<p>
  <b>Title:</b>
  <%=h @group.title %>
</p>

<%= render "groups/students/index" %>
<%= render "groups/users/index" %>

<p>
  <%= link_to 'Rename', edit_group_path(@group) %> |
  <%= link_to 'Back', index_url_with_page %>
</p>
