<h1>Listing states for <%=@country%></h1>

<table>
  <tr>
    <th>Name</th>
    <th>Abbrev</th>
    <th>Country</th>
  </tr>

<% for state in @states %>
  <tr>
    <td><%=h state.name %></td>
    <td><%=h state.abbrev %></td>
    <td><%= link_to 'Destroy', state, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New state', new_state_path %>
