<h1>Listing states for <%=@country%></h1>
<p> The country admin will edit their own state.   If the state admin forgets their password you can reset it here.   If the state admin account is unusable you can recreate it here.   </p>
<table>
  <tr>
    <th>Name</th>
    <th>Abbrev</th>
  </tr>

<% for state in @states %>
  <tr>
    <td><%=h state.name %></td>
    <td><%=h state.abbrev %></td>
    <td><%= link_to 'Destroy', state, :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= link_to 'Reset Admin Password', reset_password_state_path(state), :confirm => 'Are you sure?', :method => :put %></td>
    <td><%= link_to 'Recreate Admin', recreate_admin_state_path(state), :confirm => 'Are you sure?  You probably just need to reset the password instead.', :method => :put %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New state', new_state_path %>


