<p>
  <b>Name:</b>
  <%=h @state.name %>
</p>

<p>
  <b>Abbrev:</b>
  <%=h @state.abbrev %>
</p>

<p>
  <b>Country:</b>
  <%=h @state.country %>
</p>


<%= link_to 'Edit', edit_state_path(@state) %> |
<%= link_to 'Back', states_path %>
