<p>
  <b>Category:</b>
  <%=h @ignore_flag.category %>
</p>

<p>
  <b>User:</b>
  <%=h @ignore_flag.user %>
</p>

<p>
  <b>District:</b>
  <%=h @ignore_flag.district %>
</p>

<p>
  <b>Reason:</b>
  <%=h @ignore_flag.reason %>
</p>

<p>
  <b>Type:</b>
  <%=h @ignore_flag.type %>
</p>


<%= link_to 'Edit', edit_ignore_flag_path(@ignore_flag) %> |
<%= link_to 'Back', ignore_flags_path %>
