<div class="enrollment item">
  <%= f.error_messages %>
  <p>
    <%=f.label :school_id, 'School'%>
    <%= f.collection_select(:school_id, current_district.schools, :id, :to_s , :prompt => "Please Select a School") %>
    <%=f.label :grade %>
    <%= f.text_field :grade , :size=>5%>
    <%=f.label :end_year %>
    <%= f.select(:end_year, ((Date.today.year-10)..(Date.today.year+10)).to_a) %>
    <%=f.hidden_field :id %>
    <%=f.hidden_field :_destroy %>
    <%= help_popup "The end year is for the calendar year for this enrollment.  For the 2010-2011 school year it should be 2011. " %>

    <%= link_to "Remove","#", :class => "remove" %>
    </p>
</div>

