<p>
  <%= form.label :last_name %><br />
  <%= form.text_field :last_name %>
</p>
<p>
  <%= form.label :first_name %><br />
  <%= form.text_field :first_name %>
</p>
<p>
  <%= form.label :number %><br />
  <%= form.text_field :number %>

  <p>
    <%= form.label :id_district, id_district_desc(form.object) %><br />
    <%= form.text_field :id_district %>
  </p>
  <p>
    <%= form.label :id_state, id_state_desc(form.object) %><br />
    <%= form.text_field :id_state %>
  </p>
  <p>
    <%= form.label :id_country, id_country_desc(form.object) %><br />
    <%= form.text_field :id_country %>
  </p>

<p>
  <%= form.label :birthdate %><br />
  <%= form.date_select :birthdate ,:start_year=>Time.now.year-30, :end_year=>Time.now.year, :default=>8.years.ago%>
  </p>
  
  <p>
  <%= form.label :esl, "ESL" %><br />
  <%= form.check_box :esl %>
  </p>
  
  <p>
  <%= form.label :special_ed, "Special Education" %><br />
  <%= form.check_box :special_ed %>
  </p>



 <div id= "enrollments">
   <%=render :partial => 'enrollment' ,:collection => @student.enrollments ,:locals=>{:form =>form} %>
 </div>

  <%=link_to_function 'Add Enrollment' do |page|
   page.insert_html :bottom, :enrollments, :partial => 'enrollment' , :object => Enrollment.new
  end %>


<div id= "system_flags">
  <%= render :partial => 'system_flag', :collection => @student.system_flags, :locals => {:form => form} %>
</div>
<%=link_to_function 'Add System Flag' do |page|
  page.insert_html :bottom, :system_flags, :partial => 'system_flag' , :object => SystemFlag.new
end %>
