<div class ="new_form">
  <fieldset>

    <%= form.error_messages %>

    <div class="form_row">
      <%= form.label :id_state, "State ID"  %>
      <% if form.object.new_record? %>
        <%= form.text_field :id_state, :onblur =>remote_function(:url => {:action=>'check_id_state'},
                                    :with => 'Form.Element.serialize(this)',
                                    :before => "$('spinnerid_state').show()",
                                    :complete => "$('spinnerid_state').hide()",
                                    :method => :get

                                    )  %>
      <% else %>
        <%= form.text_field :id_state %>
      <% end %>
      <%= spinner('id_state') %>
      <%= help_popup id_state_desc(form.object) %>
    </div>


  <div class="form_row">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>
  <div class="form_row">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="form_row">
    <%= form.label :middle_name %>
    <%= form.text_field :middle_name %>
  </div>

  <div class="form_row">
    <%= form.label :suffix %>
    <%= form.text_field :suffix %>
  </div>



  <div class="form_row">
    <%= form.label :number %>
    <%= form.text_field :number %>

    <div class="form_row">
      <%= form.label :district_student_id, "District ID"  %>
      <%= form.text_field :district_student_id %>
      <%= help_popup id_district_desc(form.object) %>
    </div>
 
    <div class="form_row">
      <%= form.label :birthdate %>
      <%= form.unobtrusive_date_picker :birthdate ,:start_year=>Time.now.year-30, :end_year=>Time.now.year, :default=>8.years.ago, :order => [:month, :day, :year]%>
    </div>
    
    <div class="form_row">
      <div class = "fake_label">
        <%= form.check_box :esl %>
      </div>
      <%= form.label :esl, "ESL" , :class => "checkbox_label" %>
    </div>
    
    <div class="form_row">
      <div class ="fake_label">
        <%= form.check_box :special_ed %>
      </div>
      <%= form.label :special_ed, "Special Education" , :class => "checkbox_label" %>
    </div>



    <div class="form_row">
      <%=form.label :extended_profile, 'Add student profile html' %>
      <%=form.text_area :extended_profile %>
    </div>
  </fieldset>

</div>

 <div id= "enrollments">
   <%=render :partial => 'enrollment' ,:collection => @student.enrollments ,:locals=>{:form =>form} %>
 </div>

  <%=link_to_function 'Add Enrollment' do |page|
   page.insert_html :bottom, :enrollments, :partial => 'enrollment' , :object => Enrollment.new(:end_year => Date.today.year)
  end %>


<div id= "system_flags">
  <%= render :partial => 'system_flag', :collection => @student.system_flags, :locals => {:form => form} %>
</div>
<%=link_to_function 'Add System Flag' do |page|
  page.insert_html :bottom, :system_flags, :partial => 'system_flag' , :object => SystemFlag.new
end %>

<p>
<%= render :partial => 'assets/asset_form', :locals => {:form=>form, :parent =>'student'}  %>
These will be displayed in the extended profile.  If you'd like to add a student's picture, then just attach it here in the proper size as a jpg, png, or gif.
</p>

