<h1>Editing student</h1>

<% form_for(@student) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => f %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', district_student_path(@student) %> |
<%= link_to 'Back', district_students_path %>
