<h1>Listing students</h1>

<% form_tag district_students_path, :method=>:get do %>
  <%=label_tag :last_name, "Last Name, Any part"%>
  <%=text_field_tag :last_name %>
  <%=submit_tag "Search by Last Name", :name=>nil %>
<% end %>

<%= will_paginate @students %>

<table>
  <tr>
    <th>Last name</th>
    <th>First name</th>
    <th>Number</th>
    <th>Id district</th>
    <th>Id state</th>
    <th>Id country</th>
    <th>Birthdate</th>
  </tr>

<% for student in @students %>
  <tr>
    <td><%=h student.last_name %></td>
    <td><%=h student.first_name %></td>
    <td><%=h student.number %></td>
    <td><%=h student.id_district %></td>
    <td><%=h student.id_state %></td>
    <td><%=h student.id_country %></td>
    <td><%=h student.birthdate %></td>
    <td><%= link_to 'Show', district_student_path(student) %></td>
    <td><%= link_to 'Edit', edit_district_student_path(student) %></td>
    <td><%= link_to 'Destroy', district_student_path(student), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


<%= link_to 'New student', new_district_student_path %>
