<h1>New student</h1>

<% form_for(@student) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </p>
  <p>
    <%= f.label :id_district %><br />
    <%= f.text_field :id_district %>
  </p>
  <p>
    <%= f.label :id_state %><br />
    <%= f.text_field :id_state %>
  </p>
  <p>
    <%= f.label :id_country %><br />
    <%= f.text_field :id_country %>
  </p>
  <p>
    <%= f.label :birthdate %><br />
    <%= f.date_select :birthdate %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', students_path %>
