<p>
  <b>Last name:</b>
  <%=h @student.last_name %>
</p>

<p>
  <b>First name:</b>
  <%=h @student.first_name %>
</p>

<p>
  <b>Number:</b>
  <%=h @student.number %>
</p>

<p>
  <b>Id district:</b>
  <%=h @student.id_district %>
</p>

<p>
  <b>Id state:</b>
  <%=h @student.id_state %>
</p>

<p>
  <b>Id country:</b>
  <%=h @student.id_country %>
</p>

<p>
  <b>Birthdate:</b>
  <%=h @student.birthdate %>
</p>


<%= link_to 'Edit', edit_district_student_path(@student) %> |
<%= link_to 'Back', district_students_path %>
