<h1>Editing answer</h1>

<% form_for(@answer) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :text %><br />
    <%= f.text_area :text %>
  </p>
  <p>
    <%= f.label :district %><br />
    <%= f.text_field :district %>
  </p>
  <p>
    <%= f.label :answer_definition_definition %><br />
    <%= f.text_field :answer_definition_definition %>
  </p>
  <p>
    <%= f.label :checklist_definition %><br />
    <%= f.text_field :checklist_definition %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @answer %> |
<%= link_to 'Back', answers_path %>
