<p>
  <b>Text:</b>
  <%=h @answer.text %>
</p>

<p>
  <b>District:</b>
  <%=h @answer.district %>
</p>

<p>
  <b>Answer definition definition:</b>
  <%=h @answer.answer_definition_definition %>
</p>

<p>
  <b>Checklist definition:</b>
  <%=h @answer.checklist_definition %>
</p>


<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
