<%
  if @intervention.new_record?
    fallback_url = new_intervention_url(:goal_id => @goal_definition, :objective_id => @objective_definition, :category_id => @intervention_cluster, :definition_id => @intervention_definition, :add_participant => true)
  else
    fallback_url = edit_intervention_url(@intervention)
  end
%>
<div>
<%=hidden_field_tag "intervention[participant_user_ids][]","" %>
  <div id="participants_list">
    <%= render :partial => 'interventions/participants/new' if !readonly? && params[:add_participant] %>
    <%= render :partial => "interventions/participants/participant", :collection => @intervention.participant_users %>
  </div>
  <% unless readonly? %>
    <%= link_to("Add Participant", fallback_url, :id => "new_participant_link" )  %>
    <%= render "interventions/participants/new_disabled" %>
  <% end %>
</div>
