<h1>Listing intervention_participants</h1>

<table>
  <tr>
    <th>Intervention</th>
    <th>User</th>
    <th>Role</th>
  </tr>

<% for intervention_participant in @intervention_participants %>
  <tr>
    <td><%=h intervention_participant.intervention %></td>
    <td><%=h intervention_participant.user %></td>
    <td><%=h intervention_participant.role %></td>
    <td><%= link_to 'Show', intervention_participant %></td>
    <td><%= link_to 'Edit', edit_intervention_participant_path(intervention_participant) %></td>
    <td><%= link_to 'Destroy', intervention_participant, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New intervention_participant', new_intervention_participant_path %>
