<h1>New intervention_participant</h1>

<% form_for(@intervention_participant) do |f| %>
  <%= f.error_messages %>

 <p>
    <%= f.label :user %><br />
    <%= f.collection_select(:user_id,@users,:id,:fullname) %>
  </p>
  <p>
    <%= f.label :role %><br />
    <%= f.collection_select(:role, InterventionParticipant.roles,:id, :name )%>
  </p>
  <p>
    <%= f.submit "Add Participant" %>
  </p>
<% end %>

<%= link_to 'Back', intervention_path(@intervention) %>
