<h1>Editing News</h1>

<%= form_for(@news_item) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :text %><br />
    <%= f.text_area :text, :class => 'spell_check' %>
  </p>
  <p>
    <%= f.submit "Update" %>
    <%= spell_check_button %>
  </p>
<% end %>

<%= link_to 'Back', root_path %>
