<%= form_remote_for(:principal_override,:url=>@principal_override, :html => { :method => :put, :id => dom_id(@principal_override,"edit") }) do |f| %>
  <%= f.error_messages %>
    <%= f.label :start_tier, "Current Tier:" %>
    <%= @principal_override.start_tier.title %>
    <%= f.hidden_field :action %>
  </p>
  <p>
    <%= f.label :principal_response, "Reason for <b>#{@principal_override.action.capitalize}ing</b> this  Request" %> <br />
    <% if @principal_override.action == "accept" && current_district.principal_override_reasons.present? %>
      <% current_district.principal_override_reasons.each do |por| %>
        <%= f.radio_button :principal_response, por[:reason] %>
        <%= f.label "principal_response_#{por[:reason].gsub(/ /,'_')}", por[:reason] %> <br />
      <% end %>
    <% else %>
      <%= f.text_area :principal_response, :rows=>6, :cols=>50, :class => 'spell_check'%>
    <% end %>
  </p>




    <% if @principal_override.action == "accept" %>
      <p>
      <%= f.label :end_tier %>
      <%= f.collection_select(:end_tier_id, @tiers, :id, :title) %>
      </p>
    <% end %>

  <p>
    <%= f.submit @principal_override.action.capitalize %>
  <%= spell_check_button %>
  </p>
<% end %>

<%= link_to 'Cancel', principal_overrides_url %>
