<% if @principal_override.can_create? %>


  <%= form_for(@principal_override ,:id=>'new_principal_override_form', :remote => true) do |f| %>
  <%= f.error_messages %>

    <%= f.label :start_tier, "Current Tier:" %>
    <%= @principal_override.start_tier.title %>
  </p>
  <p>
  <%= f.label :teacher_request, "Reason for Request" %> <br />
    <%= f.text_area :teacher_request, :rows=>6, :cols=>50, :class => "full_width spell_check"%>
  </p>
  <p>
    <%= f.submit "Submit" %>
  <%= spell_check_button %>
  </p>
<% end  %>
<% else %>
  <%= @principal_override.unavailable_reason %>
<% end %>

<%= link_to 'Cancel', @principal_override.student %>
