<%= content_tag_for :tr, override,actions.join do %>
  <td><%=h override.teacher %></td>
  <td><%=h override.student %></td>
  <td><%=h override.principal %></td>
  <td><%=h override.status_text %></td>
  <td><%=h override.start_tier %></td>
  <td><%=h override.end_tier%></td>
  <td><%=h override.teacher_request %></td>
  <td><%=h override.principal_response %></td>
  <%[:accept,:reject].each do |a| %>
    <td><%= link_to_remote a.to_s.capitalize, :url=>edit_principal_override_path(override, :response=>a), :method=>:get if actions.include?(a)%></td>
  <% end %>
  <td><%= link_to_remote 'Delete', override, :confirm => 'Are you sure?', :method => :delete if actions.include?(:delete)%></td>
  <td><%= link_to_remote 'Undo', undo_principal_override_path(override), :confirm => 'Are you sure?', :method => :put if actions.include?(:undo)%></td>
<% end %>
<%= content_tag_for :tr, override, 'pending_form' do end if actions.include?(:accept) %>

