<% content_tag_for :tr, override do %>
  <td><%=h override.teacher %></td>
  <td><%=h override.student %></td>
  <td><%=h override.principal %></td>
  <td><%=h override.status %></td>
  <td><%=h override.start_tier %></td>
  <td><%=h override.end_tier%></td>
  <td><%=h override.teacher_request %></td>
  <td><%=h override.principal_response %></td>
  <td><%= link_to 'Edit', edit_principal_override_path(override) if actions.include?(:edit)%></td>
  <td><%= link_to 'Delete', override, :confirm => 'Are you sure?', :method => :delete if actions.include?(:delete)%></td>
<% end %>
