<div class="new_form">
  <p>
    <%= form.label :title %>
    <%= form.text_area :title, :class => 'spell_check' %>
  </p>

  <p>
    <%= form.label :description %>
    <%= form.text_area :description , :class => 'spell_check'%>
  </p>

  <%= form.hidden_field :custom %>

  <p>
    <%= form.label :tier_id, 'Tier' %>
    <%= form.collection_select(:tier_id, @tiers, :id, :title) %>
  </p>

  <br class='brclear' />

  <p>
   <%= form.label :time_length_num, 'Time length' %>
   <%= form.text_field :time_length_num %>
   <%= form.collection_select(:time_length_id,TimeLength.all_cache,:id,:title) %>
  </p>


  <p>
    <%= form.label :frequency_multipler, "Frequency" %>
    <%=form.text_field :frequency_multiplier%> Time(s)
    <%=form.collection_select(:frequency_id,Frequency.all_cache,:id,:title) %>
  </p>

  <p>
    <%= form.label :notify_email %>
    <%= form.text_field(:notify_email) %>
    <%=help_popup('Whenever one of these interventions are started, the email will be cc\'d to the address(s) listed here, separate them with ,\'s if you would like to use more than one') %>
  </p>
  <% if form.object.school_id %>
    <div class="fake_label">&nbsp;</div>
    <p>Originally a custom intervention by <%=form.object.user%> at <%=form.object.school%>.</p>
    <p>
    <div class="fake_label"><%=form.check_box :custom %></div>
    <%= form.label :custom ,'Custom', {:class =>"checkbox_label"}%>
    </p>

  <% end %>

  <p><%=form.label :sld ,'Areas of potential specific learning disability'%>
  <%= form.select :sld_array, InterventionDefinition::SLD_CRITERIA,{}, {:multiple => true} %>
  <%= help_popup("Select one or more SLD criteria if this intervention is evidence and research based for that particular SLD.  (Hold down ctrl to select multiple criteria.)") %>

  </p>


  <br class='brclear' />

  <%= render :partial => 'assets/asset_form', :locals => {:form=>form, :parent =>'intervention_definition'}  %>


  <p>
    <%= submit_tag submit_name , :class =>"submit"%>
    <%= spell_check_button %>
  </p>

</div>
