<div class="new_form">
  <p>
    <%= form.label :title %>
    <%= form.text_area :title %>
  </p>

  <p>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </p>

  <%= form.hidden_field :custom %>

  <p>
    <%= form.label :tier_id, 'Tier' %>
    <%= form.collection_select(:tier_id, @tiers, :id, :title) %>
  </p>

  <br class='brclear' />

  <p>
   <%= form.label :time_length_num, 'Time length' %>
   <%= form.text_field :time_length_num %>
   <%= form.collection_select(:time_length_id,TimeLength.all_cache,:id,:title) %>
  </p>


  <p>
    <%= form.label :frequency_multipler, "Frequency" %>
    <%=form.text_field :frequency_multiplier%> Time(s) 
    <%=form.collection_select(:frequency_id,Frequency.all_cache,:id,:title) %>  
  </p>

  <% if form.object.school_id %>
    <div class="fake_label">&nbsp;</div>
    <p>Originally a custom intervention by <%=form.object.user%> at <%=form.object.school%>.</p>
    <p>
    <div class="fake_label"><%=form.check_box :custom %></div>
    <%= form.label :custom ,'Custom', {:class =>"checkbox_label"}%>
    </p>

  <% end %>


  <p>
    <div class="fake_label"><%=form.check_box(:district_quicklist)%></div>
    <%= form.label :district_quicklist ,"District Quicklist",{:class =>"checkbox_label"} %>
  </p>

  <br class='brclear' />

  <%= render :partial => 'assets/asset_form', :locals => {:form=>form, :parent =>'intervention_definition'}  %>


  <p>
    <%= submit_tag submit_name , :class =>"submit"%>
    <%= spell_check_submit %>
  </p>
  <%= render :partial => 'spell_check/spelling'  %>

</div>
