<% content_tag_for :tr, intervention_definition do %>
  <td><%=move_up_down_buttons intervention_definition -%></td>
  <td align="center">
  <%= link_to 'Show', intervention_builder_intervention_path(@goal_definition,@objective_definition,@intervention_cluster,intervention_definition) %><br />
  <%= link_to 'Edit', edit_intervention_builder_intervention_path(@goal_definition,@objective_definition,@intervention_cluster,intervention_definition) %><br />
  <%= link_to 'Disable', disable_intervention_builder_intervention_path(@goal_definition,@objective_definition,@intervention_cluster,intervention_definition), :confirm => 'Are you sure? This is similar to deletion, except any existing interventions will retain their info. ', :method => :put %>  <br />

  <%= link_to 'Destroy', intervention_builder_intervention_path(@goal_definition,@objective_definition,@intervention_cluster,intervention_definition), :confirm => 'Are you sure?', :method => :delete %><br />
  <%= link_to 'Recommend Probes', url_for(:controller=>'intervention_builder/recommended_monitors',:action=>"assign_probes_to_intervention",:id=>intervention_definition) %> 
</td>

  <td><%=h intervention_definition.title %> <%=content_tag :b, "QuickList" if intervention_definition.district_quicklist %></td>
  <td><%=h intervention_definition.description %></td>
  <td><%=h intervention_definition.tier.title  if intervention_definition.tier%></td>
  <td><%=h intervention_definition.rec_mon_preface %></td>
  <td><%=h pluralize(intervention_definition.time_length_num, intervention_definition.time_length.title) %></td>
  <td><%=h intervention_definition.frequency_summary %> </td>
  <td><%=h intervention_definition.updated_at.to_date.to_s(:short) %></td>
  
<% end %>
