<%= render :partial=>"intervention_builder/categories/summary" %>

<p>
  <b>Title:</b>
  <%=h @intervention_definition.title %> 
</p>

<p>
  <b>Description:</b>
  <%=h @intervention_definition.description %>
</p>

<p>
  <b>Custom Intervention:</b>
  <%=h @intervention_definition.custom %>
</p>

<p>
  <b>Tier:</b>
  <%=h @intervention_definition.tier.title %>
</p>

<p>
  <b>Time length:</b>
  <%=h pluralize(@intervention_definition.time_length_num, @intervention_definition.time_length.title) %>
</p>

<p>
  <b>Frequency:</b>
  <%=h pluralize(@intervention_definition.frequency_multiplier, "time") +" "+ @intervention_definition.frequency.title %>
</p>

<p>
  <b>Created by:</b>
  <%=h @intervention_definition.user %>
</p>

<p>
  <b>Updated on:</b>
  <%=h @intervention_definition.updated_at.to_s(:report) %>
</p>

<% if @intervention_definition.school_id %>
  <p>
  <%=@intervention_definition.custom? ? 'Currently' : 'Originally' %> a custom intervention by <%=@intervention_definition.user%> at <%=@intervention_definition.school%>.
  </p>
<% end %>




<table>
<caption>Recommended Progress Monitors
</caption>
<tbody id="recommended_monitors_list">
<%= render :partial => 'intervention_builder/recommended_monitors/recommended_monitor', :collection => @intervention_definition.recommended_monitors.active %>
</tbody>
</table>


  <%= links_and_attachments @intervention_definition, :p %>

<%= link_to 'Edit', edit_intervention_builder_intervention_path(@goal_definition,@objective_definition,@intervention_cluster,@intervention_definition) %> |
<%= link_to 'Back', intervention_builder_interventions_path %> |
<%= link_to 'Recommend Probes', :action=>"assign_probes_to_intervention",:controller=>'intervention_builder/recommended_monitors/',:id=>@intervention_definition %> |

<%= link_to 'New Intervention Definition', new_intervention_builder_intervention_path %>
