<p>
  <b>School:</b>
  <%=h @enrollment.school %>
</p>

<p>
  <b>Student:</b>
  <%=h @enrollment.student %>
</p>

<p>
  <b>Grade:</b>
  <%=h @enrollment.grade %>
</p>


<%= link_to 'Edit', edit_enrollment_path(@enrollment) %> |
<%= link_to 'Back', enrollments_path %>
