<h1>New Checklist Definition</h1>
<%= error_messages_for :checklist_definition %>
<%- form_for :checklist_definition, :url => checklist_builder_checklists_path , :html=>{:multipart=>true, :id => 'new_checklist_definition_form' } do |f| -%>
  <%= render :partial => 'form', :locals => { :f => f, :checklist_definition => @checklist_definition } %>
  <p>
    <%= submit_tag "Create" %>
    <%= spell_check_button %>
  </p>
<%- end -%>

<p><%= link_to 'Back', checklist_builder_checklists_path %></p>
