<% other =  obj == "user" ? "school" : "user" %>
<% div_for assignment.send(obj.to_sym),'assignment' do %>
  <% fields_for("#{other}[#{obj}_assignments][]", assignment, :index => nil) do |obj_fields| %>
    <p>
      <%= assignment.send(obj.to_sym)%> <%= content_tag :b, 'admin' if assignment.admin? %>
    </p>
    <%= obj_fields.hidden_field :school_id %>
    <%= obj_fields.hidden_field :user_id %>
    <%= obj_fields.hidden_field :admin %>
  <% end %>
  <%= link_to_function "Remove" do |page|
    page.remove(dom_id(assignment.send(obj.to_sym), 'assignment'))
  end %>
<% end %>