<%= form.error_messages %>
<p>
<%=form.label :administered_at,"Date progress monitor administered" %>
<% if defined? @probe and !@probe.new_record? %>
  <%= form.unobtrusive_date_picker :administered_at, :order => [:month, :day, :year] %>
<% else %>
  <%= form.unobtrusive_date_picker :administered_at,  :order => [:month, :day, :year], :index=>index %>
<% end %>
</p>
<br class="brclear" />
<p>
<%=form.label :score %>
<%= form.text_field :score%> (<%=probe_assignment.valid_score_range%>)
</p>
<%=form.hidden_field :assessment_type %> <br />
