<table class="" width="98%" >
<tr><td colspan="7"><hr /></td></tr>
<tr>
  <td><%= question.number %>.</td>
  <td><%= select_tag("first_number_#{question.number}",options_for_select( [ 
                                    [' ', ''],
                                    ['f', 'fingers'],
                                    ['c', 'count'] ] ) ) %><br />
          <%= question.first_digit %></td>
  <td valign="top"><br /><%= question.operator %></td>
  <td><%= select_tag("second_number_#{question.number}", 
              options_for_select( [ [' ', ''],
                                    ['f', 'fingers'],
                                    ['c', 'count'] ] ) ) %><br />
          <%= question.second_digit %></td>
    
  <td>=</td>
  <td><%= text_field_tag("answer_#{question.number}") %></td>
      
    
  <td><%= check_box_tag("counts_everything_#{question.number}", value="Counts everything", checked = false) %>Counts everything<br />
        <%= check_box_tag("more_respond_#{question.number}", value="More than 3-4 seconds to respond", checked = false) %>More than 3-4 seconds to respond<br />
        <%= check_box_tag("no_response_#{question.number}", value="No response", checked = false) %>No response<br />
        <%= check_box_tag("self_corrects_#{question.number}", value="Self corrects", checked = false) %>Self corrects<br />
        <%= check_box_tag("shows_both_#{question.number}", value="Shows both sets", checked = false) %>Shows both sets<br />     
        <%= check_box_tag("uses_number_#{question.number}", value="Uses number relationship strategies", checked = false) %>Uses number relationship strategies<br />
        
       
  </td>
    
</tr>
</table>
