
<table width="80%">
  <tr>
    <th></th>
    <th colspan="3">Counting up ('fingers') or counting on ('counts')</th>
    <th>Student's response</th>
    <th>Response code</th>
  </tr>
  
  <% count = 0 
      @allquestions.each do |question| %>
  <tr>
    <td valign="bottom" width="5%"><%= question.number %>.</td>
    <td valign="bottom" width="15%"><%= flash["first_number_#{question.number}"] %><br />
      <%= question.first_digit %></td>
    <td valign="bottom" width="15%">+</td> 
    <td valign="bottom" width="15%"><%= flash["second_number_#{question.number}"] %><br />
      <%= question.second_digit %></td>
    <td valign="bottom" align="right" width="15%">= <%= flash["answer_#{question.number}"] %></td>
    <td valign="bottom" align="right">
      <%= params["counts_everything_#{question.number}"] %><br />
      <%= params["more_respond_#{question.number}"] %><br />
      <%= params["no_response_#{question.number}"] %><br />
      <%= params["self_corrects_#{question.number}"] %><br />
      <%= params["shows_both_#{question.number}"] %><br />
      <%= params["uses_number_#{question.number}"] %><br />
    </td>
  </tr>
  <tr><td colspan="6"><hr /></td>
  <% count += 1; end %>
  </table>
  <p>
   
    Final score: <%= @probe.score %></td>
    
  </p>

