<h1>Progress Monitoring Details for <%= @intervention.student.fullname %></h1>

  <% @intervention.intervention_probe_assignments.each do | intervention_probe_assignment | %>
     <%= content_tag :h3,intervention_probe_assignment.probe_definition.title %>
     Description:
      <%= intervention_probe_assignment.probe_definition.description %>
      <%=list_links_and_attachments(intervention_probe_assignment.probe_definition)%>
      
      <p>      Benchmarks
      <%= render_with_empty :partial=>"benchmark", :collection=>intervention_probe_assignment.probe_definition.probe_definition_benchmarks, 
        :empty => "No benchmarks are available for this progress monitor." %>
      </p>
    
      Student Scores
    
      <%= render :partial=>"probe", :collection=>intervention_probe_assignment.probes %>
    
    <% if @intervention.active? %>
      <%= link_to 'Enter New Score', new_probe_url(@intervention,intervention_probe_assignment) %>
    <% end %>
    <% end %>


