<div class="new_form">
  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </p>

  <div id = "assets" >
    Attach a file or link
    <%= render :partial => 'assets/asset', :collection => @objective_definition.assets , :locals => {:parent => "objective_definition"}%>
  </div>

  <p>
    <%= add_asset_link "Add a file or link", "objective_definition" %>
  </p>

  <p>
    <%= submit_tag submit_name %>
    <%= spell_check_submit %>
  </p>
  <%= render :partial => 'spell_check/spelling'  %>
</div>
