<p>
  <b>Title</b><br />
  <%= form.text_field :title %>
</p>

<p>
  <b>Description</b><br />
  <%= form.text_area :description %>
</p>


  <div id = "assets" >
    Attach a file or link <br />
    <%= render :partial => 'assets/asset', :collection => form.object.assets , :locals => {:parent => "objective_definition"}%>
  </div>

  <p>
    <%= add_asset_link "Add a file or link", "objective_definition" %>
  </p>

<p>
  <%= submit_tag submit_name %>
</p>
