<div class="new_form">
  <p>
    <%= form.label :title %>
    <%= form.text_field :title, :class =>'spell_check' %>
  </p>

  <p>
    <%= form.label :description %>
    <%= form.text_area :description, :class =>'spell_check' %>
  </p>

  <div id = "assets" >
    <%= render :partial => 'assets/asset', :collection => @objective_definition.assets , :locals => {:parent => "objective_definition"}%>
  </div>

  <p>
    <%= add_asset_link "Add a file or link", "objective_definition" %>
  </p>
  <%= exempt_tiers_box form, 'All interventions under this objective will be available to students at any tier.' %>
  <p>
    <%= submit_tag submit_name %>
    <%= spell_check_button %>
  </p>
</div>
