<h1>Editing Objective</h1>
<%= render :partial=>"intervention_builder/goals/summary" %>

<%= error_messages_for :objective_definition %>

<%= form_for(@objective_definition, :url => intervention_builder_objective_path(@goal_definition,@objective_definition), :html => { :method => :put, :multipart => true }) do |f| %>
<%= render :partial => f,:locals=>{:submit_name=>"Update"} %>
<% end %>
<%= link_to 'Show', intervention_builder_objective_path(@goal_definition,@objective_definition) %> |
<%= link_to 'Back', intervention_builder_objectives_path %>
