<%= render :partial=>"intervention_builder/goals/summary" %>

<p>
  <b>Title:</b>
  <%=h @objective_definition.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @objective_definition.description %>
</p>
<p>
  <b>Updated On:</b>
  <%=h @objective_definition.updated_at.to_s(:report) %>
</p>

  <%=links_and_attachments @objective_definition, :p %>

<%= link_to 'Edit', edit_intervention_builder_objective_path(@goal_definition,@objective_definition) %> |
<%= link_to 'Back', intervention_builder_objectives_path %> |<%= link_to 'see Categories', intervention_builder_categories_path(@goal_definition,@objective_definition)%>


