<%= form.error_messages %>

<div class="form_row">
  <%= form.label :name %>
  <%= form.text_field :name,{:size=>40} %>
</div class="form_row">
<div class="form_row">
  <%= form.label :abbrev  %>
  <%= form.text_field :abbrev, :size=>15 %>
  <%= help_popup("This is used in the custom url for your district,  for example mmsd.simspilot.org")  %>
</div>
