<%= form_tag "/districts/bulk_import?X-Progress-ID=#{ @uuid}", {:multipart=>true, :id => "bulk_upload_form", :target =>'upload_frame'} do %>
  <%= label_tag 'import_file', 'File to Import' %>
  <%= file_field_tag 'import_file'%>
  <%= hidden_field_tag 'X-Progress-ID', @uuid %>
  <%= submit_tag 'Import'%>
<% end %>


<div id='upload_progress' style='display:none'>
  File upload in progress (Step 1, then there is some processing on the server)
<div id='progressbar' class="bar">
  <div id='percents' style='width: 0%; background-color: #A2E5A2; display: none'>
     0%
  </div>
</div>
</div>

<div id='form_import_results' style="color: green; display:none">
  Processing file, this may take a few minutes.  <%=image_tag 'spinner.gif'%>
</div>

<div id='file_formats'>
  See the <%=link_to 'SIMS IMPORT API', '/doc/district_upload/', {:target => :blank}%> for file formats.  You can upload them individually, or you can include them all in a .zip file (this is preferred)
</div>
