<h1>Editing district</h1>

<% form_for(@district, :html=> {:multipart => true}) do |f| %>
  <%= render :partial => f %>

  <p>
    <%= f.label :key, 'Password Hash Key' %>
    <%= f.text_field :key %>
  </p>
  <p>
    <%= f.label :logo, 'Attach or replace logo 200x40px ' %>
    <%= f.file_field :logo %>
  </p>

  <%- if @district.logo? -%>
    <div>
      <%= f.label(:delete_logo, 'Delete logo') %>
      <%= image_tag(@district.logo.url, :alt => 'Photo', :title => 'Current logo') %>
      <%= f.check_box(:delete_logo) %>
    </div>
  <% end %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back', root_url %>
