<%= form_for(@intervention_comment, :url=>intervention_comment_path(@intervention,@intervention_comment),:method=>:put) do |f| %>
  <%= render :partial=>f %>
  <div class="center_submit">
    <%= f.submit "Update" %>
    <%= spell_check_button %>
  </div>
<% end %>


<div class="center_submit">
<%= link_to_function('Cancel', "self.close()") %>
</div>
