<% remote_form_for(@intervention_comment, :url=>intervention_comment_path(@intervention,@intervention_comment),:method=>:put) do |f| %>
  <%= render :partial=>f %>
  <p>
    <%= f.submit "Update" %>
    <%= spell_check_submit %>
  </p>
<% end %>

 <%= render :partial => 'spell_check/spelling'  %>


<%= link_to_function('Cancel',nil,{:href=>edit_intervention_path(@intervention)}){|page|  page.replace_html(dom_id(@intervention_comment),:partial => 'interventions/comments/comment', :object=>@intervention_comment)} %>
