<h1>Listing intervention_comments</h1>

<table>
  <tr>
    <th>Intervention</th>
    <th>Comment</th>
    <th>User</th>
  </tr>

<% for intervention_comment in @intervention_comments %>
  <tr>
    <td><%=h intervention_comment.intervention %></td>
    <td><%=h intervention_comment.comment %></td>
    <td><%=h intervention_comment.user %></td>
    <td><%= link_to 'Show', intervention_comment %></td>
    <td><%= link_to 'Edit', edit_intervention_comment_path(intervention_comment) %></td>
    <td><%= link_to 'Destroy', intervention_comment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New intervention_comment', new_intervention_comment_path %>
