<h1>New intervention_comment</h1>

<% form_for(@intervention_comment) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :intervention %><br />
    <%= f.text_field :intervention %>
  </p>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </p>
  <p>
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', intervention_comments_path %>
