<% content_tag_for :span, comment do  %><p>
  <b>Author:</b>
  <%=h comment.user %>
  <br />
  <b>Date Updated:</b>
  <%= comment.updated_at.to_s(:long) %> 
  <br />
  <b>Note:</b>
  <%=h comment.body %>

  <% if current_user.id == comment.user_id %>
    <br />
        <%= link_to_remote_degrades 'Edit', :url => edit_student_comment_path(comment), :method=> :get %>
        <%= link_to_remote_degrades 'Delete', :url=>comment, :confirm => 'Are you sure you want to remove this note??', :method => :delete %>
  <% end %>
</p><% end %>
