<p>When generating team notes, the following structure is recommended:
<ul>
<li> Identify the need/area of concern<li>
<li> List the data to support the concern</li>
<li> Describe the desired behavior</li>
<li> Determine the next steps to address the student’s needs</li>
</ul>
</p>



  <%= form.error_messages %>

    <%= form.hidden_field :student_id %>
    <%= form.hidden_field :user_id %>
  <p>
    <%= form.label :body, :Note %><br />
    <%= form.text_area :body,  :rows=>5, :class=>"full_width" %>
  </p>

 <div class="center_submit">
    <%= form.submit "Save" %>
    <%= spell_check_submit dom_id(form.object) %>
 </div>

