<p>When generating team notes, the following structure is recommended:
<ul>
<li> Identify the need/area of concern</li>
<li> List the data to support the concern</li>
<li> Describe the desired behavior</li>
<li> Determine the next steps to address the student’s needs</li>
</ul>
</p>



  <%= form.error_messages %>
  <p>
    <%= form.label :body, :Note %><br />
    <%= form.text_area :body,  :rows=>5, :class=>"full_width spell_check" %>
  </p>

    <%= render :partial => '/assets/asset_form', :locals => {:form=>form, :parent =>'student_comment'}  %>

<div class="center_submit">
    <%= form.submit "Save" %>
    <%= spell_check_button %>
 </div>

