<p>When generating team notes, the following structure is recommended:
<ul>
<li> Identify the need/area of concern</li>
<li> List the data to support the concern</li>
<li> Describe the desired behavior</li>
<li> Determine the next steps to address the student’s needs</li>
</ul>
</p>



  <%= form.error_messages %>

    <%= form.hidden_field :student_id %>
    <%= form.hidden_field :user_id %>
  <p>
    <%= form.label :body, :Note %><br />
    <%= form.text_area :body,  :rows=>5, :class=>"full_width spell_check" %>
  </p>

  <% if form.object.new_record? %>
    <%= render :partial => '/assets/asset_form', :locals => {:form=>form, :parent =>'student_comment'}  %>
  <% else %>
    <ul>    <%=links_and_attachments form.object ,'li'%> </ul>

  <% end %>

<div class="center_submit">
    <%= form.submit "Save" %>
    <%= spell_check_button %>
 </div>

