<% remote_form_for(@student_comment) do |f| %>
  <%= render :partial=>f %>
 <p>
    <%= f.submit "Create" %>
    <%= spell_check_submit %>
  </p>
<% end %>
  

  <%= render :partial => 'spell_check/spelling'  %>
  <%= link_to_function 'cancel',{:href=> url_for(current_student)} do |page| 
    page['new_team_note'].replace_html(:partial=>'students/add_note_link')
    end  %>
