<h1>Listing student_comments</h1>

<table>
  <tr>
    <th>Student</th>
    <th>User</th>
    <th>Body</th>
  </tr>

<% for student_comment in @student_comments %>
  <tr>
    <td><%=h student_comment.student %></td>
    <td><%=h student_comment.user %></td>
    <td><%=h student_comment.body %></td>
    <td><%= link_to 'Show', student_comment %></td>
    <td><%= link_to 'Edit', edit_student_comment_path(student_comment) %></td>
    <td><%= link_to 'Destroy', student_comment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New student_comment', new_student_comment_path %>
