<p>
  <b>Student:</b>
  <%=h @student_comment.student %>
</p>

<p>
  <b>User:</b>
  <%=h @student_comment.user %>
</p>

<p>
  <b>Body:</b>
  <%=h @student_comment.body %>
</p>


<%= link_to 'Edit', edit_student_comment_path(@student_comment) %> |
<%= link_to 'Back', student_comments_path %>
