<div class="form_row" id="goals">
<% if goals.blank? %>
  Interventions are not available, no goals defined.
  <%= link_to :back, :back %>
<%else%>
  <%= form_tag new_path, :remote => true do%>
    <%= label_tag(:goal_id,'Assign Goal') %>
    <%= goal_select %>
<%= spinner("goals") %>
      <noscript><%= submit_tag("Choose Goal") %></noscript>
  <% end %>
<% end %>
</div>
<%= render :partial => 'interventions/objectives/select' %>
