<div class="form_row">
<% if @goal_definitions.blank? %>
  Interventions are not available, no goals defined.
  <%= link_to :back, :back %>
<%else%>
  <%= form_for :goal_definition, :url => interventions_goals_path(:custom_intervention => custom_intervention?), :remote => true do |f| %>
      <%= f.label(:id,'Assign Objective') %>
      <%= f.grouped_collection_select(:id, @goal_definitions, :objective_definitions, :title, :id, :title, {:prompt => ""}, {:class => "fixed_width sim_submit"}) %>
<%= spinner("goals") %>
      <noscript><%= submit_tag("Choose Objective") %></noscript>
  <% end %>
<% end %>
</div>
<%= render :partial => 'interventions/objectives/select' %>
