<% @intervention = detail %>
<div class="new_form">
  <%= form_for(@intervention, :html=>{:name=>"StudentInterventionForm", :multipart => true}) do |f| %>
    <div class="form_row">
      <div class="fake_label">Objective</div><%=@intervention.objective_definition %>
    </div>

    <p>
      <div class="fake_label">Category</div><%=@intervention.intervention_cluster %>
      <%= description(@intervention.intervention_cluster) %>
    </p>
    <br class="brclear" />

    <div class="form_row">
      <div class="fake_label">Intervention</div><span <%=@intervention.sld? ? "class='sld'" : '' %>><%=@intervention.title %></span> <br />
      <br class="brclear" />
      <div class="fake_label">Tier</div><%=@intervention.tier %> <br />
      <br class="brclear" />
      <%= description(@intervention,'Description', "description_with_sld") %>
    </div>
    <% unless @intervention.active? %>
      <div class ="form_row">
        <div class="fake_label">Ended:</div><%="#{@intervention.ended_at} by #{@intervention.ended_by}- #{@intervention.end_reason}"%>
      </div>
    <% end %>
    <div class ="form_row">
      <div class="fake_label">Created:</div><%="#{@intervention.created_at.to_date} by #{@intervention.user}"%>
    </div>
  <br class="brclear" />
  <p>

  <div class ="fake_label">&nbsp;</div>
  <%= links_and_attachments @intervention.intervention_definition, :p %>
  </p>

  <div class="form_row_wrap_label">
      <div class ="fake_label">Frequency</div><%= @intervention.frequency_summary %>
      <%= "(Rec: #{@intervention.intervention_definition.frequency_summary})" unless @intervention.intervention_definition.blank? %>
  </div>
  <br class="brclear" />
  <div class="form_row_wrap_label">
        <div class ="fake_label">Duration</div><%= @intervention.time_length_summary %>
        <%= "(Rec: #{@intervention.intervention_definition.time_length_summary})" unless @intervention.intervention_definition.blank? %>
  </div>
  <br class="brclear" />
  <div class="form_row_wrap_label">
      <div class="fake_label">Start Date:</div>
      <%= @intervention.start_date %>
  </div>
  <br class="brclear" />
  <div class="form_row_wrap_label">
     <div class="fake_label">End Date:</div>
     <%= @intervention.end_date %>
  </div>

  <br class="brclear" />
  <div class="form_row">
    <%= f.label :participant_users, 'Participants' %>
    <table><tr><td>
      <%= render :partial => 'interventions/participants/list', :locals => {:form => f } %>
    </td></tr></table>
  </div>
  <br class="brclear" />
<% end %>
</div>


<h3> Comments</h3>
  <%= content_tag :table, render_with_empty(:partial => "interventions/comments/comment", :collection => detail.comments.reject(&:new_record?),
     :empty => "<tr><td>There are no comments for this intervention.</td></tr>"
     ) %>



<h3>Progress Monitors</h3>
  <p>
  Selected: <%=@intervention.assigned_probes %>
  </p>


  <%@intervention.intervention_probe_assignments.each do |ipa|
    @intervention_probe_assignment = ipa
    params[:enter_score] = true
    params[:probe_definition_id] = ipa.probe_definition_id

  %>
    <%= render :partial => 'interventions/probe_assignments/intervention_probe_assignment_detail' } %>
  <% end %>
  <hr />
