<% readonly = false if readonly.nil? %>
<div class="new_form">
  <% form_for(@intervention, :html=>{:name=>"StudentInterventionForm", :multipart => true}) do |f| %>
    <div class="form_row">
      <div class="fake_label">Objective</div><%=@intervention.objective_definition %>
    </div>
  
    <p>
      <div class="fake_label">Category</div><%=@intervention.intervention_cluster %>
      <%= description(@intervention.intervention_cluster) %>
    </p>
    <br class="brclear" />

    <div class="form_row">
      <div class="fake_label">Intervention</div><%=@intervention.title %> <br />
      <br class="brclear" />
      <div class="fake_label">Tier</div><%=@intervention.tier %> <br />
      <br class="brclear" />
      <%= description(@intervention) %>
      
    </div>
    <% if readonly %>
      <div class ="form_row">
        <div class="fake_label">Ended:</div><%="#{@intervention.ended_at} by #{@intervention.ended_by}- #{@intervention.end_reason}"%>
      </div>
    <% end %>
    <div class ="form_row">
      <div class="fake_label">Created:</div><%="#{@intervention.created_at.to_date} by #{@intervention.user}"%>
    </div>
    <%= render(:partial => f, :locals => {:readonly => readonly}) %>
    <div class="center_submit">
      <% unless readonly %>
        <%= f.submit "Save"  %>
        <%= spell_check_button %>
      <% end %>
    </div>
  <% end %>
</div>
<div class="center_submit">
  <% if @intervention.active? %>
    <%= link_to_function 'End', "$('end_intervention_reasons').show()" %> 
  <% else %>
    <%= link_to 'Undo End', undo_end_intervention_path(@intervention), :method=>:put,:confirm=>"Are you sure you want to unend this intervention?" %> 
  <% end %>
  <%= link_to 'Delete', intervention_path(@intervention), :method=>:delete,:confirm=>"Are you sure you want to delete this intervention?" %> 
<%= link_to 'Back', @intervention.student %>
</div>
<div id="end_intervention_reasons" style="display:none">
  <h2> Please choose a reason for ending this intervention. </h2>
  <p> If you made changes above, then save them first. </p>
  <% form_tag(end_intervention_path(@intervention), :method => :put) do  %>
    <%Intervention::END_REASONS.each do |end_reason| %>
      <%= radio_button_tag('end_reason', end_reason,{}, {:onclick=> "$('end_submit_tag').disabled=false;"}) %>
      <label for="end_reason_<%=end_reason.underscore.gsub(" ","_")%>"><%=end_reason %></label><br />
    <% end %>
    <%= submit_tag 'End Intervention', :confirm=>"Are you sure you want to end this intervention?" ,:disabled=>true, :id => 'end_submit_tag'%>




  <% end %>
</div>
