 <%= form.error_messages %>
  <p>
  <%= links_and_attachments form.object.intervention_definition, :p %>
  </p>

  <p>
    <%= form.label :frequency_multiplier, 'Intervention Frequency' %>
    <%= form.select :frequency_multiplier, (1..20).to_a %>
    <%= form.collection_select(:frequency_id,Frequency.all,:id,:title) %> 
    <%= "(Rec: #{@intervention_definition.frequency_summary})" unless flash[:custom_intervention] %>
  </p>
  <br class="brclear" />
  <p>
    <%= form.label :time_length_number, 'Intervention Duration' %>
    <%= form.select :time_length_number, (1..100).to_a ,{}, {:onchange=>"change_date();"}%>
    <%= form.collection_select(:time_length_id, TimeLength.all(:order => :days),:id,:title,{},  {:onchange => "change_date();"}) %> 
    <%= "(Rec: #{@intervention_definition.time_length_summary})" unless flash[:custom_intervention] %>

  </p>
  <br class="brclear" />
 <p>
    <%= form.label :start_date , 'Intervention Start Date' %>
    <%= form.date_select :start_date ,{}, {:onchange => "change_date();"}%>
  </p>
  <br class="brclear" />
  <p>
    <%= form.label :end_date, 'Intervention End Date' %>
    <%= form.date_select :end_date %>
  </p>
  <br class="brclear" />
    <%= form.hidden_field :intervention_definition_id %>
