<% readonly = false if readonly.nil? %>
<% if @intervention_probe_assignment %>
  <br class="brclear" />
  <% fields_for 'intervention[intervention_probe_assignment]', @intervention_probe_assignment do |ipa| %>
      <%= ipa.hidden_field :probe_definition_id %>
      <%= links_and_attachments(@intervention_probe_assignment.probe_definition, :p) if @intervention_probe_assignment.probe_definition  %>
      <%= error_messages_for(:object => @intervention_probe_assignment, :object_name => 'Probe Assignment') %>
      <div class="form_row_wrap_label">
        
        <%= ipa.label :frequency_multiplier, 'Frequency:' %>
        <% if readonly %>
          <%= @intervention_probe_assignment.frequency_summary %>
        <% else %>
          <%= ipa.select :frequency_multiplier, (1..20).to_a %>
          <%= ipa.collection_select(:frequency_id, Frequency.all, :id, :title, {}, {}) %> 
        <% end %>
        (Rec: <%= InterventionProbeAssignment::RECOMMENDED_FREQUENCY %>) 
      </div>
      <br class="brclear" />
      <div class="form_row">
        <%= ipa.label :first_date , 'First Date:' %>
        <% if readonly %>
          <%= @intervention_probe_assignment.first_date %>
        <% else %>
          <%= ipa.date_select :first_date ,{}, {}%>
        <% end %>
      </div>
      <br class="brclear" />
      <div class="form_row">
        <%= ipa.label :end_date, 'Last Date:' %>
        <% if readonly %>
          <%= @intervention_probe_assignment.end_date %>
        <% else %>
          <%= ipa.date_select :end_date %>
        <% end %>
      </div>
    <% unless @intervention.new_record? %>
      <div class="form_row">
        <div class="fake_label">Scores:</div>
        <div id="enter_view_score_link"> 
          <%=link_to_remote "Enter/view scores", :url=> intervention_probe_assignments_path(@intervention,:probe_definition_id=>@intervention_probe_assignment.probe_definition_id) ,:method =>:get ,:loading => "$('spinnerscore_link').show();"%> <%= spinner 'score_link' %>
        </div>
      </div>
      <br class="brclear" />
      <div id="enter_view_scores">
      </div>
    <% else %>

          <script>change_date('<%= @intervention.new_record? %>');</script>
    <% end %>
       <%= ipa.hidden_field :probe_definition_id %>
    <br class="brclear" />
  <% end %>
<% end %>
