<div id="intervention">
<% if @intervention_definition %>
<% form_for(@intervention) do |f| %>
  <%=render :partial =>'interventions/form',:locals=>{:form=>f} %>
  <% if @intervention.selected_ids %>
    <%= f.label :apply_to_all, "Apply to all selected students" %>
    <%= f.check_box :apply_to_all %>
  <% end %>
 <p>
    <%= f.submit "Create" %>
  </p>

<% end %>
<%= link_to 'Back', student_path(@intervention.student) %>
<% end %>
</div>
