<div id="intervention">
<% if @intervention %>
<% form_for(@intervention) do |f| %>
  <%=render :partial =>'interventions/form',:locals=>{:form=>f} %>
  <% if @intervention.selected_ids %>
    <%= f.label :apply_to_all, "Apply to all selected students" %>
    <%= f.check_box :apply_to_all %> <br />
  <% end %>
  <%= f.label :auto_implementer, "Make yourself implementer for this intervention" %>
  <%= f.check_box :auto_implementer  %> <br />
 <p>
    <%= f.submit "Create" %>
  </p>

<% end %>
<%= link_to 'Back', student_path(@intervention.student) %>
<% end %>
</div>
