<% if @intervention_probe_assignment %>
  <% fields_for 'intervention[intervention_probe_assignment]', @intervention_probe_assignment do |ipa| %>
    <fieldset>
      <legend>Progress Monitor</legend>
      <%= links_and_attachments(@intervention_probe_assignment.probe_definition, :p) if @intervention_probe_assignment.probe_definition  %>
      <%= error_messages_for(:intervention_probe_assignment) %>
      <p>
        <%= ipa.label :frequency_multiplier, 'Monitoring Frequency' %>
        <%= ipa.select :frequency_multiplier, (1..20).to_a %>
        <%= ipa.collection_select(:frequency_id, Frequency.all, :id, :title, {}, {:onchange => "change_date();"}) %> 
        (Rec: <%= InterventionProbeAssignment::RECOMMENDED_FREQUENCY %>) 
      </p>
      <br class="brclear" />
      <p>
        <%= ipa.label :first_date , 'First Date' %>
        <%= ipa.date_select :first_date ,{}, {:onchange => "change_date();"}%>
      </p>
      <br class="brclear" />
      <p>
        <%= ipa.label :end_date, 'Last Date' %>
        <%= ipa.date_select :end_date %>
      </p>
       <%= ipa.hidden_field :probe_definition_id %>
    </fieldset>
    <br class="brclear" />
  <% end %>
<% end %>
