<h1>Listing interventions</h1>

<table>
  <tr>
    <th>User</th>
    <th>Student</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Intervention definition</th>
    <th>Frequency</th>
    <th>Frequency multiplier</th>
    <th>Time length</th>
    <th>Time length number</th>
    <th>Active</th>
    <th>Ended by</th>
    <th>Ended at</th>
    <th>District</th>
  </tr>

<% for intervention in @interventions %>
  <tr>
    <td><%=h intervention.user %></td>
    <td><%=h intervention.student %></td>
    <td><%=h intervention.start_date %></td>
    <td><%=h intervention.end_date %></td>
    <td><%=h intervention.intervention_definition %></td>
    <td><%=h intervention.frequency %></td>
    <td><%=h intervention.frequency_multiplier %></td>
    <td><%=h intervention.time_length %></td>
    <td><%=h intervention.time_length_number %></td>
    <td><%=h intervention.active %></td>
    <td><%=h intervention.ended_by %></td>
    <td><%=h intervention.ended_at %></td>
    <td><%=h intervention.district %></td>
    <td><%= link_to 'Show', intervention %></td>
    <td><%= link_to 'Edit', edit_intervention_path(intervention) %></td>
    <td><%= link_to 'Destroy', intervention, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New intervention', new_intervention_path %>
