<p>
  <b>User:</b>
  <%=h @intervention.user.fullname %>
</p>

<p>
  <b>Student:</b>
  <%=h @intervention.student.fullname %>
</p>

<p>
  <b>Start date:</b>
  <%=h @intervention.start_date %>
</p>

<p>
  <b>End date:</b>
  <%=h @intervention.end_date %>
</p>

<p>
  <b>Intervention definition:</b>
  <%=h @intervention.intervention_definition.title %>
</p>

<p>
  <b>Frequency:</b>
  <%=h @intervention.frequency.title %>
</p>

<p>
  <b>Frequency multiplier:</b>
  <%=h @intervention.frequency_multiplier %>
</p>

<p>
  <b>Time length:</b>
  <%=h @intervention.time_length.title %>
</p>

<p>
  <b>Time length number:</b>
  <%=h @intervention.time_length_number %>
</p>

<%unless @intervention.active? %>
  <p>
    <b>Ended by:</b>
    <%=h @intervention.ended_by.fullname %>
  </p>

  <p>
    <b>Ended at:</b>
    <%=h @intervention.ended_at %>
  </p>

<% end %>

<%= link_to 'Edit', edit_intervention_path(@intervention) %> |
<%= link_to 'Back', @intervention.student %>
