<h1> Progress Monitor Title: <%=@probe_definition.title%> </h1><br />

<% intervention_definition_ids = @probe_definition.intervention_definition_ids %>

<%= form_tag do %>
<div class="standardForm">

<% @goal_definitions.reject(&:disabled).each do |g| %>
<% g.objective_definitions.reject(&:disabled).each do |o| %>
<%=content_tag :h2, o.title %>
<% o.intervention_clusters.reject(&:disabled).each do |ic| %>
<%=content_tag :h4, ic.title %>
<% @int_defs=ic.intervention_definitions.reject(&:disabled) %>

<% @int_defs.each do |int_def| %>
         <%=check_box_tag("int_defs[]", int_def.id,intervention_definition_ids.include?(int_def.id), :id=>int_def.id) %>
         <%= label_tag int_def.id, int_def.title %><br />
        <% end %>
<% end %>
<% end %>
<% end %>
<%= submit_tag%>
<%end%>
</div>
<p>
<%= link_to 'Back to List of Progress Monitors', intervention_builder_probes_path %>
</p>
