title: <%=@intervention_definition.title%> <br />
If you want to remove a recommended monitor, be sure to uncheck it everywhere it appears on screen.

<%= form_tag({}, {:name=>"monitor_form"}) do %>
  <div id="assign_probes_to_intervention" class="standardForm">
    <%=hidden_field_tag :id, @intervention_definition.id %>
    <%=hidden_field_tag "probes[]", "" %>
   <% @probe_definitions_in_groups.each do |k,g| %>
    <%= content_tag :h2, k.to_s.titleize %>
    <% g[:clusters].each do |k,ic| %>
      <%= content_tag :h4, k unless k==:none%>
      <% ic[:probes].each do |probe|  %>


        <%=check_box_tag("probes[]", probe.id,@intervention_definition.probe_definitions.include?(probe),
                         :id=>probe.id, :class => probe.id) %>

                    <%= label_tag probe.id, probe.title, :class => 'popup', :data => {:help => probe.description} %> <br />
        </span>
      <% end %>

    <% end %>
  <% end %>
<%= submit_tag%>
<%end%>
</div>

<p>
<%= link_to "Back to Intervention Definition", @back_path %>
</p>

