<h1>New role</h1>

<% form_for(@role) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>


  <% f.object.rights.each do |right| %>
  <% f.fields_for(right) do |right_field|%>
    <%= right.controller %> <%= right_field.label :read %> <%=right_field.check_box :read %> <%=right_field.label :write %> <%=right_field.check_box :write %>
  <% end %>
  <% end %>



 <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', roles_path %>
