<% @jsbodytagcode =  'onload="document.forms.login.username.focus();"' 
@title1="Login"
%>

<% unless session[:user_id] %>
<% #cache 'login' do 
%> 

<%= render :partial => 'login/country_state_district' %>
  
<h4>Please Login: </h4>
  <% form_tag({:controller => 'login', :action => 'login'}, :id=>'login') do %> 
    <table cellpadding="2">
      <tr id="choose_district">
        <% unless @districts.blank? %>
          <td><label for="district">District</label></td>
          <td><%=collection_select(:district,:id, @districts, :id, :name) %></td>
          <% else  %>
          <%=content_tag :td,hidden_field_tag("district[id]",@district.id) if @district%>
        <% end %>
      </tr>


      <tr>
        <td><label for="username">Login</label></td>
        <td><%= text_field_tag(:username, params[:username]) %></td>
      </tr>
      <tr>
        <td><label for="password">Password</label></td>
        <td><%= password_field_tag(:password, params[:password]) %></td>
      </tr>
      


      <tr>
        <td colspan="2">
          <%= submit_tag "Login" %> 
          </td>

        <td><!-- High Contrast <%=check_box_tag(:high_contrast) if false #TODO enable when the stle sheet looks better
          %> -->
        </td>
      </tr>
    </table>
    
  <% end %> 
<% end %>


