<% @jsbodytagcode =  'onload="document.forms.login.username.focus();"'
@title1="Login"
%>

<% unless session[:user_id] %>
<h1>Please Login:</h1>
<%= render :partial => 'login/demo_pilot_login_note' %>
<div class = "new_form">
<%= render :partial => 'login/country_state_district' %>
  <%= form_tag({:controller => 'login', :action => 'login'}, :id=>'login') do %>
    <fieldset>
      <div class = "form_row">
        <% unless @districts.blank? %>
          <label for="district_id">District</label>
          <%=collection_select(:district,:id, @districts, :id, :name) %>
        <% else  %>
          <%=hidden_field_tag("district[id]",@current_district.id) if @current_district%>
        <% end %>
      </div>

      <div class = "form_row">
        <label for="username">Login</label>
        <%= text_field_tag(:username, params[:username]) %>
      </div>
      <div class = "form_row">
        <label for="password">Password</label>
        <%= password_field_tag(:password, params[:password]) %>
      </div>


      <div class="form_row center_submit">
        <%= submit_tag "Login" %>
        <%= submit_tag "Forgot Password?", :name => "forgot_password" %>
      </div>
    </fieldset>

    <% if @districts.blank? && current_district %>
      <%= link_to "Switch districts", root_url_without_subdomain if defined? ENABLE_SUBDOMAINS  %>
    <% end  %>

  <% end %>
</div>
<% end %>

