<% @jsbodytagcode =  'onload="document.forms.login.username.focus();"'
@title1="Login"
%>

<% unless session[:user_id] %>
<h1>Please Login:</h1>
<%= render :partial => 'login/demo_pilot_login_note' %>
<div class = "new_form">
  <%= form_tag({:controller => 'login', :action => 'login'}, :id=>'login') do %>
    <fieldset>
      <div class = "form_row">
        <% if current_district.new_record? %>
          <label for="district_abbrev">District</label>
          <%=select_tag :district_abbrev, options_from_collection_for_select(District.normal, :abbrev, :name) %>
        <% else  %>
          <%=hidden_field_tag("district_abbrev",current_district.abbrev) if current_district%>
        <% end %>
      </div>

      <div class = "form_row">
        <label for="username">Login</label>
        <%= text_field_tag(:username, params[:username]) %>
      </div>
      <div class = "form_row">
        <label for="password">Password</label>
        <%= password_field_tag(:password, params[:password]) %>
      </div>


      <div class="form_row center_submit">
        <%= submit_tag "Login" %>
      <% if current_district.new_record? or  current_district.forgot_password? %>
        <%= submit_tag "Forgot Password?", :name => "forgot_password" %>
      <% end %>
      </div>
    </fieldset>

    <% if current_district.persisted? %>
      <%= link_to "Switch districts", root_url_without_subdomain if defined? ENABLE_SUBDOMAINS  %>
    <% end  %>

  <% end %>
</div>
<% end %>

