<h1>Change Password</h1>
<div class ="new_form">
<%= form_for(@user, :url => change_password_url) do |form| %>
<%= form.error_messages %>
<% unless params[:token] && @user.passwordhash.present? %>
<div class="form_row">
    <%= form.label :old_password %>
    <%= form.password_field :old_password %>
    <%= help_popup "Enter the password you used to login (your previous password or the district key if you don't have a password yet.) " %>
  </div>
<% end %>
  <div class="form_row">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="form_row">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>
  <%= form.hidden_field :id %>
  <%= form.hidden_field :token %>


  <p>
    <%= form.submit "Change password" %>
  </p>
<% end %>

</div>
