<p>
  <b>Title:</b>
  <%=h @goal_definition.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @goal_definition.description %>
</p>

<p>
  <b>Updated on:</b>
  <%= h @goal_definition.updated_at %>


<%= link_to 'Edit', edit_intervention_builder_goal_path(@goal_definition) %> |
<%= link_to 'Back', intervention_builder_goals_path %> |
<%= link_to 'see Objective Definitions', intervention_builder_objectives_path(@goal_definition)%>
