<% unless @teams.blank? %>
<% remote_form_for(@team_consultation) do |f| %>
  <%= f.error_messages %>
  <% f.fields_for :consultation_forms do |consultation_form| %> 
    <%= render :partial => 'consultation_forms/consultation_form', :object => consultation_form %>
  <% end %>


  <p>
    <%= f.label :recipient_id, 'Recipient' %>
    <%= f.collection_select :team_id, @teams, :id, :to_s %>
    <%= f.hidden_field :draft %>

  </p>
  <p>

  
  <%= f.submit 'Save' %>
  <%= f.submit 'Save as Draft', :onclick =>'this.form.elements("team_consultation[draft]").value=true' %>
  <%= spell_check_button %>

    <%= link_to :cancel, current_student %>

  </p>
<% end %>

<% else %>
A form cannot be assigned for this schol until a school admin assigns teams.
<% end %>
