<h1>Listing countries in the system</h1>
<p> The country admin will edit their own country.   If the country admin forgets their password you can reset it here.   If the country_admin account is unusable you can recreate it here.   </p>
<table>
  <tr>
    <th>Name</th>
    <th>Abbrev</th>
  </tr>

<% for country in @countries %>
  <tr>
    <td><%=h country.name %></td>
    <td><%=h country.abbrev %></td>
    <td><%= link_to 'Destroy', country, :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= link_to 'Reset Admin Password', reset_password_country_path(country), :confirm => 'Are you sure?', :method => :put %></td>
    <td><%= link_to 'Recreate Admin', recreate_admin_country_path(country), :confirm => 'Are you sure?  You probably just need to reset the password instead.', :method => :put %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New country', new_country_path %>
