<% checklist ||= @checklist %>
<%= render :partial => '/checklists/question_link' , :locals => {:question_definition => question_definition }%>
<div class="questionDiv" <%=style_display_none_unless(view) %>>
  <% #pop off the first element if it is a relevance element  
  element_definitions = question_definition.element_definitions
  element_definitions, relevant =element_definitions.partition{|e| e.kind.to_sym != :applicable}
%>

<% #pop off any sa elements
 element_definitions, sa =element_definitions.partition{|e| e.kind.to_sym != :sa}
%>


  <%= render :partial => "/checklists/relevant", :collection=>relevant  %>
<% unless element_definitions.blank? %>
  <table border ="1">
    <thead>
      <th></th>
      <% most_answers=element_definitions.max{|a,b| a.answer_definitions.count <=> b.answer_definitions.count}
      max_count=1
         max_count = most_answers.answer_definitions.count if most_answers
        
        0.upto(max_count-1) do |i| %>
        <%= content_tag :th, i %>
      <% end %>
    </thead>
    <tbody>
      <% element_definitions.each do |element_definition| %>
        
      <%= content_tag :tr,render(:partial => "checklists/#{element_definition.kind}", :locals => { :element_definition => element_definition, :question_definition=> question_definition, :view=>view ,:edit=>edit, :max_count => max_count })%>
      <% end %>
 </tbody>
 </table>
<% end %>

<%- sa.each do |element_definition| -%>
<%= render :partial => "checklists/sa",  :locals => { :element_definition => element_definition, :checklist => checklist , :question_definition=> question_definition, :view=>view ,:edit=>edit, :max_count => max_count } %>
<%- end -%>

 </div>
