<th><em style="margin-left:2em" <%=highlight_if_wrong_element(@checklist,question_definition,element_definition) -%> >
    <%= markdown_with_span(element_definition.text) -%> <%= reason_if_wrong_element(@checklist,question_definition,element_definition) %></em></th>
  <%- radio_button_group(@checklist,element_definition) do |answer_definition, is_checked| -%>

    <td <%=highlight_if_wrong_element(@checklist,question_definition,element_definition) -%> valign="top" align="center">

      <%=autoset_message(answer_definition)-%>
      <label for= <%="element_definition_#{element_definition.id}_#{answer_definition.id}"%>>
        <%= markdown_with_span(answer_definition.text) %></label> <br />
   <%= radio_button_tag "element_definition[#{element_definition.id}]", answer_definition.id, is_checked , autoset_onclick(question_definition,answer_definition) 
   %> 
  </td>
  <%- end -%>
