<h5 style="margin-left:2em" <%=highlight_if_wrong_element(@checklist,question_definition,element_definition) -%> >
<%= markdown_with_span(element_definition.text) -%> <%= reason_if_wrong_element(@checklist,question_definition,element_definition) %></h5>
<table>
  <%- radio_button_group(@checklist,element_definition) do |answer_definition, is_checked| -%>

	<tr <%=highlight_if_wrong_element(@checklist,question_definition,element_definition) -%>>
  <td valign="top">

<%=  -1 + answer_definition.position%>.</td>
  <td>
   <%= radio_button_tag "element_definition[#{element_definition.id}]", answer_definition.id, is_checked , autoset_onclick(question_definition,answer_definition) 
%> </td> <td valign="top"> <%=autoset_message(answer_definition)-%>
<%= markdown_with_span(answer_definition.text) %>
  </td>

</tr>
  <%- end -%>
</table>
