<%= render :partial =>"breadcrumbs_and_banners" %>
<div id="checklist">
  <p>Completed by <%= @checklist.teacher.fullname %> on 
  <%= @checklist.updated_at.to_s(:chatty) %> </p>
  
  <%- form_tag  do -%>
    <%= render :partial => "form", 
    :locals => { :checklist => @checklist, :view=>true } %>
  <%=text_field_tag "test",'Recommendation'%>
    <%- end -%>
    <%=render :partial=>"recommendations/view",:locals=>{:recommendation=>@checklist.recommendation} if @checklist.recommendation%>
<%=link_to "Back", :action=>"student_profile",:controller=>"student_profile"%>
</div>
