<h1>Listing quicklist_items</h1>

<table>
  <tr>
    <th>School</th>
    <th>District</th>
    <th>Intervention definition</th>
  </tr>

<% for quicklist_item in @quicklist_items %>
  <tr>
    <td><%=h quicklist_item.school %></td>
    <td><%=h quicklist_item.district %></td>
    <td><%=h quicklist_item.intervention_definition %></td>
    <td><%= link_to 'Show', quicklist_item %></td>
    <td><%= link_to 'Edit', edit_quicklist_item_path(quicklist_item) %></td>
    <td><%= link_to 'Destroy', quicklist_item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New quicklist_item', new_quicklist_item_path %>
