<a name="<%= dom_id(element_definition, "new_answer_definition_errors_anchor") %>">
  <div id="<%= dom_id(element_definition, "new_answer_definition_errors") %>" style="display:none"></div>
</a>
<%= form_for :answer_definition, :url => checklist_builder_answers_path, :html => {:id => 'new_answer_definition_form'}, :remote => true do |f| -%>
  <%= render :partial => 'form', :locals => { :f => f, :answer_definition => answer_definition } %>
  <p>
    <%= submit_tag "Create" %> |
    <%= spell_check_button %> |

    <%= link_to_remote "Cancel",  new_checklist_builder_answer_path(
    element_definition.checklist_definition,
    element_definition.question_definition,
    element_definition) %>
  </p>
<%- end -%>
