<h1>New Answer Definition</h1>
<%= error_messages_for :answer_definition %>
<%- form_for :answer_definition, :url => checklist_builder_answers_path do |f| -%>
  <%= render :partial => 'form', :locals => { :f => f, :answer_definition => @answer_definition } %>
  <p>
    <%= submit_tag "Create" %>
    <%= spell_check_submit %>
  </p>
<%- end -%>
<%= render :partial => 'spell_check/spelling'  %>
<p><%= link_to 'Back', checklist_builder_checklist_path(@checklist_definition) %></p>
