<% remote_form_for(@consultation_form_request) do |f| %>
  <%= f.error_messages %>
  <p>
    Who do you want to gather information from?
  </p>

  <p>
    <%=f.radio_button :whom, :all_staff_for_student %>
    <%= f.label :whom_all_staff_for_student, 'staff and administrator listed on student’s schedule' %>   <br />
  
    <%=f.radio_button :whom, :predetermined_teams %>
    <%= f.label :whom_predetermined_teams, 'predetermined team' %>   <%= f.collection_select :team_id, @teams, :id, :name %><br />
  
    <%=f.radio_button :whom, :other %>
    <%= f.label :whom_other, 'other' %>   
    <%= f.collection_select(:user_ids, @users, :id, :to_s, {}, {:multiple => true, :size=>5}) %>
      <br />






<br />

  </p>

  <p>
    <%= f.submit 'Save' %>
  </p>
<% end %>

