<h1>Listing consultation_form_requests</h1>

<table>
  <tr>
    <th>Student</th>
    <th>Requestor</th>
    <th>Team</th>
    <th>All student scheduled staff</th>
  </tr>

<% @consultation_form_requests.each do |consultation_form_request| %>
  <tr>
    <td><%=h consultation_form_request.student %></td>
    <td><%=h consultation_form_request.requestor %></td>
    <td><%=h consultation_form_request.team %></td>
    <td><%=h consultation_form_request.all_student_scheduled_staff %></td>
    <td><%= link_to 'Show', consultation_form_request %></td>
    <td><%= link_to 'Edit', edit_consultation_form_request_path(consultation_form_request) %></td>
    <td><%= link_to 'Destroy', consultation_form_request, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New consultation_form_request', new_consultation_form_request_path %>