<p>
  <b>Student:</b>
  <%=h @consultation_form_request.student %>
</p>

<p>
  <b>Requestor:</b>
  <%=h @consultation_form_request.requestor %>
</p>

<p>
  <b>Team:</b>
  <%=h @consultation_form_request.team %>
</p>

<p>
  <b>All student scheduled staff:</b>
  <%=h @consultation_form_request.all_student_scheduled_staff %>
</p>


<%= link_to 'Edit', edit_consultation_form_request_path(@consultation_form_request) %> |
<%= link_to 'Back', consultation_form_requests_path %>