<%= form.error_messages %>
  <p>
    <%= form.label :username %><br />
    <%= form.text_field :username %>
  </p>

  <p>
    <%= form.label :password %><br />
    <%= form.password_field :password %>
  </p>

  <p>
    <%= form.label :password_confirmation %><br />
    <%= form.password_field :password_confirmation %>
  </p>

  <p>
    <%= form.label :first_name %><br />
    <%= form.text_field :first_name %>
  </p>

  <p>
    <%= form.label :last_name %><br />
    <%= form.text_field :last_name %>
  </p>

  <%= render :partial => 'roles' , :locals=>{:form=>form}%>

  <%= render :partial => 'district_groups', :locals=>{:form=>form} %>

  <h2>Explicit School Assignments</h2>
  (all students in district implies regular access to all schools)
  <div id= "user_school_assignments">
    <%=render :partial => 'user_school_assignments/assignment' ,:collection => @user.user_school_assignments ,:locals=>{:form =>form, :obj=>"school"} %>
    <%= hidden_field_tag "user[school_assignments][]", nil %>
  </div>

