<div class = "new_form">
  <%= form.error_messages %>
  <div class="form_row">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="form_row">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="form_row">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="form_row">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="form_row">
    <%= form.label :middle_name %>
    <%= form.text_field :middle_name %>
  </div>

  <div class="form_row">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="form_row">
    <%= form.label :suffix %>
    <%= form.text_field :suffix %>
  </div>

  <div class="form_row">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="form_row">
    <%= form.label :district_user_id, "Primary key in your <br />Student Information System" %>
    <%= form.text_field :district_user_id %>
    <%= help_popup "The primary key used to identify this user in your Student Information System.  It might be a personID, or userID or something similar." %>
  </div>



</div>
  <%= render :partial => 'roles', :locals => {:form => form} %>

<%= render :partial => 'district_groups', :locals => {:form => form} %>

<h2>Explicit School Assignments
<%= help_popup "Gives a user access to a school.   They then need to be assigned to groups (collections of students.)  
Choosing 'All students' gives the user access to every student in the school.   Choosing 'Admin' allows a user to adminster the school, and is typically for the school secretary.  (Be sure to give them School Admin role above.) " %>
</h2>

<div id= "user_school_assignments">
  <%= render :partial => 'user_school_assignment', :collection => @user.user_school_assignments %>
</div>
<div class="form_row"> 
  <%= add_user_school_assignment_link "Add a school assignment" %> 
</div>
