  <%= label_form.error_messages %>
  <%= label_form.text_field :username %>
  <%= label_form.password_field :password %>
  <%= label_form.password_field :password_confirmation %>
  <%= label_form.text_field :first_name %>
  <%= label_form.text_field :middle_name %>
  <%= label_form.text_field :last_name %>
  <%= label_form.text_field :suffix %>
  <%= label_form.text_field :email ,:help =>"This must be a valid email address" %>
  <%= label_form.text_field :district_user_id, :label => "Primary key in your <br />Student Information System", 
        :help => "The primary key used to identify this user in your Student Information System.  It might be a personID, or userID or something similar." %>



  <%= render :partial => 'roles', :locals => {:form => label_form} %>

<%= render :partial => 'district_groups', :locals => {:form => label_form} %>

<h2>Explicit School Assignments
<%= help_popup "Gives a user access to a school.   They then need to be assigned to groups (collections of students.)  
Choosing 'All students' gives the user access to every student in the school.   Choosing 'Admin' allows a user to adminster the school, and is typically for the school secretary.  (Be sure to give them School Admin role above.) " %>
</h2>

<div id= "user_school_assignments">
  <%= render :partial => 'user_school_assignment', :collection => @user.user_school_assignments %>
</div>

<div class="form_row"> 
  <%= add_user_school_assignment_link "Add a school assignment" %> 
</div>


<% unless current_district.staff_assignments.empty? %>
  <h2>Staff Assignments</h2>
  <div id="user_staff_assignments">
</div>
<% end %>
