<div class="user_school_assignment">
  <% new_or_existing = user_school_assignment.new_record? ? 'new' : 'existing' %>
  <% prefix = "user[#{new_or_existing}_user_school_assignment_attributes][]" %>
  <% disable = local_assigns.has_key?(:disable) && disable %>

  <%= fields_for prefix, user_school_assignment do |f| -%>
    <p>
      <b><%= f.label 'school_id', 'School:' %></b>
      <%= f.collection_select('school_id', @schools, :id, :to_s, {}, {:disabled => disable}) %>

      <b><%= f.label :admin %></b>
      <%= f.select :admin, [['No', false], ['Yes', true]], {}, {:disabled => disable} %>
      <b><%= f.label :all_students %></b>
      <%= f.select :all_students, [['No', false], ['Yes', true]], {}, {:disabled => disable} %>

      <%= link_to "Remove", "#", :class =>"cancel_link", :data => {:remove_up => ".user_school_assignment"} %>
    </p>
  <% end -%>
</div>
