<div class="user_school_assignment">
  <% new_or_existing = user_school_assignment.new_record? ? 'new' : 'existing' %>
  <% prefix = "user[#{new_or_existing}_user_school_assignment_attributes][]" %>

  <%= fields_for prefix, user_school_assignment do |f| -%>
    <p>
      <b><%= f.label 'school_id', 'School:' %></b>
      <%= f.collection_select('school_id', @schools, :id, :to_s) %>

      <b><%= f.label :admin %></b>
      <%= f.select :admin, [['No', false], ['Yes', true]] %>
      <b><%= f.label :all_students %></b>
      <%= f.select :all_students, [['No', false], ['Yes', true]] %>

      <%= link_to_function "Remove", "$(this).up('.user_school_assignment').remove()" %>
    </p>
  <% end -%>
</div>
