<div id="definitions" class="form_row">
  <% unless definitions.blank? %>
    <%= form_tag new_path, :remote => true do %>
      <%= label_tag :definition_id, 'Assign Intervention' %>
      <%= tiered_intervention_definition_select(definitions, true) %>
      <%= spinner("definitions") %>
      <%= content_tag :noscript, submit_tag("Choose Intervention") %>
      <br class="brclear" />
      <div id="intervention_description"><%= description(definitions.object) %></div>
    <% end %>
  <% end %>
</div>
<%= render definitions.intervention %>
