<div id="definitions" class="form_row">
  <% if @intervention_definitions %>
    <%= form_for :intervention_definition, :remote => true,
      :url => new_path(:goal_id => @goal_definition, :objective_id => @objective_definition, :category_id => @intervention_cluster) do |f| %>
      <%= f.label :id, 'Assign Intervention' %>
      <%= tiered_intervention_definition_select(@intervention_definitions, true, @intervention_definition ) %>
      <%= spinner("definitions") %>
      <%= content_tag :noscript, submit_tag("Choose Intervention") %>
      <br class="brclear" />
      <div id="intervention_description"><%= description(@intervention_definition) %></div>
    <% end %>
  <% end %>
</div>
<%= render :partial => 'interventions/intervention' %>
