<div id="definitions" class="form_row">
<% if @intervention_definitions %>
  <% remote_form_for :intervention_definition, :url => select_interventions_definitions_path(@goal_definition,@objective_definition,@intervention_cluster) do |f| %>
    <%= f.label :id, 'Assign Intervention' %>
    <%= f.collection_select(:id, @intervention_definitions,:id,:title,{:prompt=>''},{:onchange=>"$('spinnerdefinitions').show();form.onsubmit()", :class=>"fixed_width"}) %>
    <%=spinner("definitions") %>
    <%= content_tag :noscript, submit_tag("Choose Intervention") %> 
<br class="brclear" />
    <div id="intervention_description"><%=description(@intervention_definition)%></div>
  <% end %>

<% end %>
</div>
<%= render :partial =>'interventions/intervention' %>
