<div id="definitions" class="form_row">
  <% if @intervention_definitions %>
    <%= remote_form_for :intervention_definition, (@intervention_definition || InterventionDefinition.new),
      :url => interventions_definitions_path(@goal_definition, @objective_definition, @intervention_cluster) do |f| %>
      <%= f.label :id, 'Assign Intervention' %>
      <%= tiered_intervention_definition_select(@intervention_definitions, true, @intervention_definition ) %>
      <%= spinner("definitions") %>
      <%= content_tag :noscript, submit_tag("Choose Intervention") %>
      <br class="brclear" />
      <div id="intervention_description"><%= description(@intervention_definition) %></div>
    <% end %>
  <% end %>
</div>
<%= render :partial => 'interventions/intervention' %>
