<div id="student_overall">
  <%= subreport_selected(@opts[:top_summary]) do %>
    <%= render :partial => "students/student", :locals => {:changeable => false} %>
  <% end %>

  <%= subreport_selected(@opts[:extended_profile]) do %>
    <%= render :partial => "students/extended_profile", :locals => {:in_report => true} %>
  <% end %>

  <%= subreport_selected(@opts[:flags]) do %>
    <% unless @student.flags.empty? %>
      <h2>Flags</h2>
      <%= FlagsForStudentReport.render_html(:student => @student) %>
    <% end %>
  <% end %>

  <%= subreport_selected @opts[:consultation_forms] do %>
    <% if @student.team_consultations.empty? %>
      Student has no consultation forms
    <% else %>
     Team Consultations:<br/>
      <div id="team_consultation_forms">
        <%= render :partial => "/team_consultations/show", :collection => @student.team_consultations %>
      </div>
    <% end %>
  <% end %>

  <%= subreport_selected(@opts[:team_notes]) do %>
    <% unless @student.comments.empty? %>
      <h2>Team Notes</h2>
      <%= render :partial => "student_comments/comment", :collection => @student.comments, :locals =>{:no_actions=> true} %>
    <% end %>
  <% end %>

  <%= subreport_selected @opts[:intervention_summary] do %>
    <% if @student.interventions.empty? %>
      Student has no interventions<br/>
    <% else %>
    <h2>Interventions</h2>
    <h3 class="intervention_summary"><span>Active Interventions</span></h3>
    <%= render :partial => 'students/intervention_table', :locals=>{:interventions => @student.interventions.active, :no_action=>true} %>


    <h3 class="intervention_summary"><span>Inactive Interventions</span></h3>
    <%= render :partial => 'students/intervention_table', :locals=>{:interventions => @student.interventions.inactive, :no_action => true} %>
    <% end %>
  <% end %>

  <%= subreport_selected @opts[:intervention_detail] do %>
    <% if @student.interventions.empty? %>
      Student has no interventions<br/>
    <% else %>
    <h2>Interventions</h2>
    <h3 class="intervention_summary"><span>Active Interventions</span></h3>
    <%= render :partial => 'interventions/detail', :collection=>@student.interventions.active %>


    <h3 class="intervention_summary"><span>Inactive Interventions</span></h3>
    <%= render :partial => 'interventions/detail', :collection=>@student.interventions.inactive %>
    <% end %>
  <% end %>



  <%= subreport_selected @opts[:checklists_and_or_recommendations] do %>
    <% unless @student.checklists.empty? and @student.recommendations.without_checklist.empty? %>
      <h2><%="Checklists and" if show_checklist_section? %> Recommendations</h2>
      <% if show_checklist_section? %>
        <div id="checklist">
          <% @student.checklists.each do |checklist| %>
            <% @checklist = checklist %>
            <%= render :partial => 'checklists/view', :locals => {:checklist => checklist} %>
          <% end %>
        </div>
      <% end %>

      <div id="Recommendation">
        <% @student.recommendations.without_checklist.each do |recommendation| %>
          <p>Completed by <%= recommendation.user.fullname %> on
          <%= recommendation.updated_at.to_s(:chatty) %> </p>
          <%= render :partial => 'recommendations/view', :locals => {:recommendation => recommendation} %>
        <% end %>
      </div>
    <% end %>
  <% end %>

</div>
