<% @title1 = 'Student Report'
   @title2 = 'Reports Selection' %>

<h2>Choose Sections for Student Report <%= @student.fullname %></h2>

<% form_tag :action => "student_overall", :id => @student do %><br/ >
  <% @opts.each do |section| %>
    <%= check_box :report_params, section, :checked => true %> <br />
    <label for="report_params_<%= section.to_s %>"><%= section.to_s.humanize.gsub(/ and or /, ' and/or ') %></label> 
  <% end %><br/>

  <%= submit_tag "Generate Report", :name => 'generate' %>
<% end %>
