<h2>Team Notes</h2>

<% form_tag do %><br/ >

  <%= label_tag 'start_date-mm', 'Start Date:' %><br/>
  <%= unobtrusive_date_picker_tags @start_date,{:order => [:month,:day, :year], :start_year => 2008, :end_year => @today.year, :prefix => 'start_date'  } %> <br / >


  <%= label_tag 'end_date-mm', 'End Date:' %><br/>
  <%= unobtrusive_date_picker_tags @end_date, {:order => [:month, :day, :year], :start_year => 2008, :end_year => @today.year, :prefix => 'end_date'} %><br/><br/>

  <%= label_tag :sort_field %><br/>
  <%= select :report_params,:sort_field, ['Student','Date', 'Team Note'], {:selected=> @sort_field} %><br/><br/>
  
  <%= label_tag :content %><br/>
  <%= text_field_tag 'report_params[content]', @content %><br/><br/>

  <%= label_tag :report_params_format, 'Format:' %><br/>
  <%= select :report_params, :format, @filetypes, {:selected => @selected_filetype} %><br/><br/>

  <%= submit_tag "Generate Report", :name => 'generate' %>
<% end %>
<%= @report %>
