<li>
<%=Flag::TYPES[flag.category][:humanize]-%>- 
<%= flag.reason %> by <%= flag.user.fullname %> on
<%= flag.created_at.to_date %>
<%= link_to_remote_degrades "Remove", :url=> delete_custom_flag_path(flag) %>
</li>
