 <%= error_messages_for 'custom_flag' %>
<% form_remote_for(@custom_flag) do |form| %>
<label for='custom_flag_reason'>Please enter your reason for this custom:</label>
<%= form.text_field :reason%> <br />
<label for='custom_flag_flagtype'>Category:</label><% flagtypes= Flag::FLAGTYPES %>
<%=form.select :category,flagtypes.collect{|h,k| [k[:humanize],h]}%>
<%=form.hidden_field :student_id%>
<%=form.hidden_field :user_id %><br />
<%= submit_tag "Save Custom Flag"%>
<%= link_to :cancel, @custom_flag.student %>

<%end%>
