<%= form_tag({}, {:name => "student_search_form", :id => "student_search_form", "data-school" => current_school.id}) do %>
    <fieldset>
      <div class="form_row">
        <label for="search_criteria_year" class="fake_label">Year</label>
        <%= year_select(@years) %>
      </div>
      <div class="form_row">
        <label for="search_criteria_grade" class="fake_label">Grade</label>
        <%= grade_select(@grades) %> <%= spinner('grade_search') %>
      </div>
      <div class="form_row">
        <label for="search_criteria_user_id" class="fake_label">Staff Member</label>
        <%= collection_select(:search_criteria,:user_id,group_member_select_options(@users),:id,:fullname ) %> <%= spinner('member_search') %>
        <%=help_popup("Search by staff assigned to a group.  Typically teachers assigned to sections, but could be coaches of teams, staff members of neighborhoods, etc.") %>
      </div>
      <div class="form_row">
        <label for="search_criteria_group_id" class="fake_label">Student Group</label>
        <%= collection_select(:search_criteria,:group_id,group_select_options(@groups),:id_with_prefix,:title) %>
        <%=help_popup("Search by group name.   Groups are commonly sections of classes, but could also be neighborhood, team, etc.") %>
      </div>
      <div class="form_row">
        <label for="search_criteria_last_name" class="fake_label">Last Name</label>
        <%= text_field(:search_criteria, :last_name) %>
        <%=help_popup("Put in the beginning of the last name you want to search.   This can now be combined with the other search options.")  %>
      </div>
      <div class="form_row">
        <div id="student_fake_left" class="fake_label" style="margin-bottom:<%=14+(active_intervention_size)%>em;">
          Select <br /> Student(s) by
        </div>
        <div id="#student_fake_right">
	  <%= radio_button_tag('search_criteria[search_type]', :list_all, :checked => true) %><label for="search_criteria_search_type_list_all">List all students</label><br />
          <%= radio_button_tag('search_criteria[search_type]', :flagged_intervention) %><label for="search_criteria_search_type_flagged_intervention">List only students flagged for intervention</label>
          <%=help_popup("You can limit your selection by checking the flags you want.     Clicking Ignore or Custom will limit you to ignored/custom flags, clicking the other flags will only show those that are checked.")  %> 
          <div class="small_bump_right">
            <%= flag_select  %>
          </div>
          <%= radio_button_tag('search_criteria[search_type]', :active_intervention) %><label for="search_criteria_search_type_active_intervention">List only students in an active intervention</label>
          <div class = "small_bump_right">
           <%= active_intervention_select %>
         </div>
          <%= radio_button_tag('search_criteria[search_type]', :no_intervention) %><label for="search_criteria_search_type_no_intervention">List only students not in an active intervention</label>
        </div>
      </div>
      <br clear ="both" />
      <div class ="form_row center_submit">
        <%= submit_tag "Search for Students", :name => 'search'%>
      </div>
            </fieldset>
<% end %>
