<ul>
  <% if session[:user_id] %>
    <li><%= render :partial => 'login/logout' %></li>
    <li><%= link_to 'School Selection', schools_url %> </li>
    <li><%= link_to 'Checklist Builder', checklist_builder_checklists_url %></li>
    <li><%= link_to 'Intervention Builder', intervention_builder_goals_url %></li>
    <li><%= link_to 'Probe Builder', intervention_builder_probes_url %></li>
    <li><%= link_to 'SIMS Virtual Outbox',{:controller=>'railmail'}, {:target=>:blank} %></li>
<% if false %>
    <li><%= link_to 'Role Management',roles_url %> </li>
<% end %>
  <% else %>
    <li>Please login.</li>
    <li>For this demo, use oneschool as the username and password</li>
    <li>or twoschools for the name and password</li>
    <li>Other users:  alphaprin, allstudents, noschools, nogroups, alphagradethree</li>
    <li>Use content_builder to access the builders</li>
  <% end %>
</ul>
