<ul>
  <% if session[:user_id] %>
    <li><%= render :partial => 'login/logout' %></li>
    <%= li_link_to_if_authorized 'School Selection', schools_url %> 
    <%= li_link_to_if_authorized 'Checklist Builder', checklist_builder_checklists_url %>
    <%= li_link_to_if_authorized 'Intervention Builder', intervention_builder_goals_url %>
    <%= li_link_to_if_authorized 'Probe Builder', intervention_builder_probes_url %>
    <%= content_tag(:li,link_to 'SIMS Virtual Outbox',{:controller=>'railmail'}, {:target=>:blank}) %>
    <%= content_tag(:li, link_to(current_district.active_checklist_document.original_filename, current_district.active_checklist_document.url, {:target => :blank})) if current_district && current_district.active_checklist_document? %>
    <li>Reports</li>
    <ul>
      <%= li_link_to_if_authorized 'Team Notes', '/reports/team_notes' %>
    </ul>
<% if false %>
    <%= li_link_to_if_authorized 'Role Management',roles_url %>
<% end %>
  <% else %>
    <li>Please login.</li>
    <li>For this demo, use oneschool as the username and password</li>
    <li>or twoschools for the name and password</li>
    <li>Other users:  alphaprin, allstudents, noschools, nogroups, alphagradethree</li>
    <li>Use content_builder to access the builders</li>
  <% end %>
</ul>
