<ul>
  <% if session[:user_id] %>
    <li><%= link_to "Home", root_path %> </li>
    <%= li_link_to_if_authorized 'School Selection', schools_path %> 
    <%= render :partial => "layouts/core_practices" %>
    <%= render :partial => "layouts/intervention_pdf_html_list" %>
    <%= li_link_to_if_authorized 'Checklist Builder', checklist_builder_checklists_path %>
    <%= li_link_to_if_authorized 'Intervention Builder', intervention_builder_goals_path %>
    <%= li_link_to_if_authorized 'Probe Builder', intervention_builder_probes_path %>
    <%= li_link_to_if_authorized 'Flag Categories/Core Practices', flag_categories_path %>
    <%= content_tag(:li,link_to('SIMS Virtual Outbox',{:controller=>'railmail'}, {:target=>:blank})) %>
    <%= content_tag(:li, link_to_with_icon(current_district.active_checklist_document.original_filename,
      current_district.active_checklist_document.url )) if current_district && current_district.active_checklist_document? %>

    <% plus_minus_li "Reports" do %>
        <%= li_link_to_if_authorized('Team Notes', '/reports/team_notes') unless current_school.blank? %>
        <%= li_link_to_if_authorized "Regenerate Intervention documents in menu" , 
            regenerate_intervention_pdfs_intervention_builder_goals_path, :method => :put %>

        <% if_student_selected do %>
          <%= li_link_to_if_authorized "<b>Student Report</b>", :controller => "reports", :action => "student_overall_options" %>
          <%= li_link_to_if_authorized "Student Interventions", :controller => "reports", :action => "student_interventions" %>
        <% end %>
    <%  end %>

    <% if false %>
        <%= li_link_to_if_authorized 'Role Management',roles_path %>
    <% end %>
    <li><%= render :partial => 'login/logout' %></li>
  <% else %>
    <li>Please login.</li>
    <% if @districts.blank? %>
    <li>For this demo, use oneschool as the username and password</li>
    <li>or twoschools for the name and password</li>
    <li>Other users:  alphaprin, allstudents, noschools, nogroups, alphagradethree</li>
    <li>Use content_builder to access the builders</li>
    <li>(MMSD has oneschools, alphaprin, district_admin, and content_builder)</li>
  <% end %>
  <% end %>
</ul>
