<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= @page_title || "SIMS- #{controller.controller_name.humanize}: #{controller.action_name.humanize}" %></title>
    <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1" />
    <meta name="robots" content="index,follow" />
    <%= stylesheet_link_tag 'common', :media => :all %>
    <%= stylesheet_link_tag 'print', :media => :print %>
    <%= stylesheet_link_tag 'screen', :media => :screen %>

    <noscript><style type ="text/css"> .plus_minus ul {display:block} </style></noscript>
    <%= javascript_include_tag 'prototype','overlib',  'effects', 'application',  :cache => true %>
  </head>

  <body>
    <div id="wrap">
      <div id="header">
        <div id ="left_header">
          <% if current_district && current_district.logo.url != "/logos/original/missing.png" %>
            <%=image_tag current_district.logo.url, :size=>"200x40", :title => "#{current_district} logo", :alt => "#{current_district} logo"%>
          <% else %>
            <%=current_district%>
          <% end %>
        </div>
        <div id = "right_header">
          <h1>SIMS:</h1>
          <h2>Student Intervention Monitoring System</h2>
        </div>
        <br class='brclear' />
      </div>
      <div id="left_column">
        <p>
          <h2>Menu</h2>
          <%=render :partial=>"layouts/menu"%>
        </p>
        <%= render :partial =>"layouts/administration"%>
        <p><%= render :partial=>"layouts/flag_legend"%></p>
        <%= yield :news %>
        <p><%= render_cell(:principal_overrides, :user_requests, :user=>@user)%></p>
        <p><%= render_cell(:principal_overrides, :principal_responses,:user=>@user)%></p>
      </div>
      <div id="main">
        <div id="breadcrumbs_and_banners">
          <%=breadcrumbs%>
        </div>
          <p style="color: green"><%= flash[:notice] %></p>
          <%= yield %>
      </div>
      <div id="footer">
         <br style="clear:right;"/>
         <% if current_student and current_student.max_tier %>
            Current Tier is <%=current_student.max_tier%>
         <% end %>
        <br /><br />

        <% if ENV["RAILS_ENV"] == "development" %>
          <div id="debug">
            <a href="#" onclick="Element.toggle('params_debug_info');return false">
              params</a> |
            <a href="#" onclick="Element.toggle('session_debug_info');return false">
              session</a> |
             <a href="#" onclick="Element.toggle('env_debug_info');return false">
              environment</a> |
            <a href="#" onclick="Element.toggle('request_debug_info');return false">
              request</a> 
            <fieldset id="params_debug_info" class="debug_info" style="display:none">
              <%=debug(params) %>
            </fieldset>
            <fieldset id="session_debug_info" class="debug_info" style="display:none">
              <%=debug(session) %>
            </fieldset>
            <fieldset id="env_debug_info" class="debug_info" style="display:none">
              <%=debug(request.env) %>
            </fieldset>
            <fieldset id="request_debug_info" class="debug_info" style="display:none">
              <%=debug(request) %>
            </fieldset>
 
          </div>
          <% else %>
            <%= link_to 'Chat', 'http://vegantech.com/cgi-bin/sims-chat/csChatRBox.cgi', :target =>"_blank"  %>
        <% end %> 
      </div>
    </div>

  </body>
</html>
