<!DOCTYPE html>
<html>
  <head>
    <%#= stylesheet_link_tag :all %>
    <%= stylesheet_link_tag 'print', :media => :print %>
    <%= stylesheet_link_tag 'screen', :media => "screen, projection" %>
    <%#= javascript_include_tag :defaults %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <title><%= "SIMS- #{controller.controller_name.humanize}: #{controller.action_name.humanize}" %></title>
    <meta name="robots" content="index,nofollow" />
    <noscript><style type ="text/css"> .plus_minus ul {display:block} </style></noscript>
  </head>
  <%=body do %>

    <div id="wrap">
      <div id="header">
        <div id ="left_header">
          <% if current_district && current_district.logo? %>
            <%=image_tag current_district.logo.url, :size=>District::LOGO_SIZE, :title => "#{current_district} logo", :alt => "#{current_district} logo"%>
          <% else %>
            <%=current_district%>
          <% end %>
        </div>
        <div id="right_header">
          <h1>SIMS:</h1>
          <h2>Student Intervention Monitoring System</h2>
        </div>
      </div>
      <div id="left_column">
        <h2>Menu</h2>
        <%=render "layouts/menu"%>
        <%= render "layouts/administration"%>
        <p><%= render "layouts/flag_legend"%></p>

        <p><%= render_cell(:principal_overrides, :user_requests, :user=>current_user)%></p>
        <p><%= render_cell(:principal_overrides, :principal_responses,:user=>current_user)%></p>
        <%= render :partial => 'main/news' %>
      </div>
      <div id="main">
        <div class="breadcrumbs_and_banners">
          <%=breadcrumbs%>
        </div>
        <p id="flash_notice"><%= flash[:notice] %>
        <span id="session_notice"></span>
        <span id="flash_alert"><%= flash[:alert] %></span>
        </p>
        <%= yield %>
        <%= yield :bottom_of_main %>
        <%= render :partial =>'login/whats_new' if show_whats_new%>

        <div class="breadcrumbs_and_banners_bottom">
          <hr />
          <%=breadcrumbs%>
        </div>
      </div>
      <div id="footer">
        <br style="clear:right;"/>
        <% if current_student and current_student.max_tier %>
          Current Tier is <%=current_student.max_tier%>
        <% end %>
        <br/>
        <%="Logged in as #{current_user} (#{current_school})" if user_signed_in? %>
        <br/><br/>

        <%= render :partial =>'districts/google_lsa'  if user_signed_in? && current_user.roles.include?("local_system_administrator") %>
        <%= render "layouts/dev_debug" if Rails.env.development?%>
      </div>
    </div>
    <% if false %>
      <script type='text/javascript'
        src='http://getfirebug.com/releases/lite/1.2/firebug-lite-compressed.js'></script>
    <% end %>

    <iframe id="upload_frame" name="upload_frame" src= "/blank.html" style="display: none;height:0;width:0;border:0;"></iframe>

  <% end %>
</html>


