<h1>Enter Progress Monitor Scores and Comments</h1>

<h2>
Intervention-<%=@grouped_progress_entry %>
</h2>

<h3>
  <%=@probe_definition.title %>
</h3>
<p>
  <%=@probe_definition.description %>
</p>
<%=links_and_attachments(@probe_definition, 'p') %>


<p>Min: <%=@probe_definition.minimum_score %> -  Max: <%=@probe_definition.maximum_score %></p>

<%= @probe_definition.probe_definition_benchmarks.join('<br /') %>

<% for @student_intervention in @grouped_progress_entry.student_interventions  %>
  <table class="grouped_progress_entry" >
    <thead>
      <tr><th> <%= @student_intervention.student %> </th></tr>
    </thead>
    <tbody>
      <tr><td>
          <%=@student_intervention.intervention.intervention_probe_assignment.google_line_or_bar_chart%>
          <% @student_intervention.intervention.comments.each do |comment| %> 
            <p><%=h comment %></p>
          <% end %>
      </td></tr>

    </table>
    <hr />
<% end %>

  

<%= link_to 'Back', grouped_progress_entries_path %>
